In [1]:
%load_ext autoreload
%autoreload 2

from hossam.util import *
from hossam.plot import *
from hossam.tensor import *
from pandas import merge, read_excel, pivot_table, melt, to_datetime, to_timedelta, DateOffset, Timestamp, Period, Series
import numpy as np
import re

In [2]:
df1  =my_read_excel("통합6-1.xlsx")
df1['연월'] = to_datetime(df1['연월'], format="%Y-%m")
df2 =df1.drop(['매출액','골프전환','골프전환2','골프매출','헬스매출','환불사용금매출','미수액'], axis=1)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6309 entries, 0 to 6308
Data columns (total 24 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   회원카드번호   6309 non-null   int64
 1   연월       6309 non-null   datetime64[ns]
 2   등록명      6309 non-null   object
 3   매출액      6309 non-null   int64
 4   골프전환     6309 non-null   int64
 5   골프매출     6309 non-null   int64
 6   헬스매출     6309 non-null   int64
 7   환불사용금매출  6309 non-null   int64
 8   미수액      6309 non-null   int64
 9   개월수      6309 non-null   int64
 10  종료시점     6309 non-null   datetime64[ns]
 11  최초등록월    6309 non-null   datetime64[ns]
 12  환불여부     318 non-null    float64
 13  골프전환2    52 non-null     float64
 14  양도       538 non-null    float64
 15  휴면가능     6309 non-null   int64
 16  휴면반영     5505 non-null   datetime64[ns]
 17  거래순서     6309 non-null   int64
 18  마지막거래    6309 non-null   int64
 19  잔여개월수    6309 non-null   int64
 20  결제시점     6309 non-null   int64
 21  이탈여부     6309 non-null   int64
 22  광고       6308 non-null   float64
 23  추세값      6308 non-null   float64
dtypes: datetime64[ns](4), float64(5), int64(14), object(1)
memory usage: 1.2+ MB
None

상위 5개 행
+----+----------------+---------------------+----------+----------+------------+------------+------------+------------------+----------+----------+---------------------+---------------------+------------+-------------+--------+------------+---------------------+------------+--------------+--------------+------------+------------+--------+-----------+
|    |   회원카드번호 | 연월                | 등록명   |   매출액 |   골프전환 |   골프매출 |   헬스매출 |   환불사용금매출 |   미수액 |   개월수 | 종료시점            | 최초등록월          |   환불여부 |   골프전환2 |   양도 |   휴면가능 | 휴면반영            |   거래순서 |   마지막거래 |   잔여개월수 |   결제시점 |   이탈여부 |   광고 |    추세값 |
|----+----------------+---------------------+----------+----------+------------+------------+------------+------------------+----------+----------+---------------------+---------------------+------------+-------------+--------+------------+---------------------+------------+--------------+--------------+------------+------------+--------+-----------|
|  0 |       12131325 | 2020-09-01 00:00:00 | 헬스     |   899000 |          0 |          0 |     899000 |                0 |        0 |       12 | 2021-09-01 00:00:00 | 2020-09-01 00:00:00 |        nan |         nan |    nan |          2 | 2021-11-01 00:00:00 |          0 |            0 |           12 |          0 |          1 |      0 | -0.131868 |
|  1 |       13110008 | 2021-05-01 00:00:00 | 골프     |  1700000 |          0 |    1580000 |          0 |                0 |        0 |       12 | 2022-06-01 00:00:00 | 2021-05-01 00:00:00 |        nan |         nan |    nan |          2 | NaT                 |          0 |            2 |           13 |          0 |          0 |      0 | -0.263736 |
|  2 |       13110008 | 2022-06-01 00:00:00 | 골프     |  1700000 |          0 |    1580000 |          0 |                0 |        0 |       12 | 2023-08-01 00:00:00 | 2021-05-01 00:00:00 |        nan |         nan |    nan |          2 | NaT                 |          1 |            1 |           14 |          0 |          1 |      1 | -0.285714 |
|  3 |       13110008 | 2023-11-01 00:00:00 | 골프     |  2120000 |          0 |    1880000 |          0 |                0 |        0 |       12 | 2024-11-01 00:00:00 | 2021-05-01 00:00:00 |        nan |         nan |    nan |          2 | 2025-01-01 00:00:00 |          2 |            2 |           12 |         -3 |          2 |      0 |       3.5 |
|  4 |       13110009 | 2020-10-01 00:00:00 | 헬스     |  1140000 |          0 |          0 |    1080000 |                0 |        0 |       12 | 2021-12-01 00:00:00 | 2020-10-01 00:00:00 |        nan |         nan |    nan |          2 | NaT                 |          0 |            0 |           14 |          0 |          1 |      0 |  0.840659 |
+----+----------------+---------------------+----------+----------+------------+------------+------------+------------------+----------+----------+---------------------+---------------------+------------+-------------+--------+------------+---------------------+------------+--------------+--------------+------------+------------+--------+-----------+

하위 5개 행
+------+----------------+---------------------+----------+----------+------------+------------+------------+------------------+----------+----------+---------------------+---------------------+------------+-------------+--------+------------+---------------------+------------+--------------+--------------+------------+------------+--------+----------+
|      |   회원카드번호 | 연월                | 등록명   |   매출액 |   골프전환 |   골프매출 |   헬스매출 |   환불사용금매출 |   미수액 |   개월수 | 종료시점            | 최초등록월          |   환불여부 |   골프전환2 |   양도 |   휴면가능 | 휴면반영            |   거래순서 |   마지막거래 |   잔여개월수 |   결제시점 |   이탈여부 |   광고 |   추세값 |
|------+----------------+---------------------+----------+----------+------------+------------+------------+------------------+----------+----------+---------------------+---------------------+------------+-------------+--------+------------+---------------------+------------+--------------+--------------+------------+------------+--------+----------|
| 6304 |       23120075 | 2023-12-01 00:00:00 | 골프     |  1920000 |          0 |    1690000 |          0 |                0 |        0 |       10 | 2024-10-01 00:00:00 | 2023-12-01 00:00:00 |        nan |         nan |    nan |          0 | 2024-10-01 00:00:00 |          0 |            0 |           10 |          0 |          2 |      0 |        0 |
| 6305 |       23120076 | 2023-12-01 00:00:00 | 헬스     |   990000 |          0 |          0 |     990000 |                0 |        0 |       10 | 2024-10-01 00:00:00 | 2023-12-01 00:00:00 |        nan |         nan |    nan |          0 | 2024-10-01 00:00:00 |          0 |            0 |           10 |          0 |          2 |      0 |        0 |
| 6306 |       23120077 | 2023-12-01 00:00:00 | 헬스     |   990000 |          0 |          0 |     990000 |                0 |        0 |       10 | 2024-10-01 00:00:00 | 2023-12-01 00:00:00 |        nan |         nan |    nan |          0 | 2024-10-01 00:00:00 |          0 |            0 |           10 |          0 |          2 |      0 |        0 |
| 6307 |       24010001 | 2023-12-01 00:00:00 | 헬스     |   990000 |          0 |          0 |     990000 |                0 |        0 |       10 | 2024-10-01 00:00:00 | 2023-12-01 00:00:00 |        nan |         nan |    nan |          0 | 2024-10-01 00:00:00 |          0 |            0 |           10 |          0 |          2 |      0 |        0 |
| 6308 |       24010003 | 2022-01-01 00:00:00 | 헬스     |  1035000 |          0 |          0 |     990000 |                0 |        0 |       10 | 2022-11-01 00:00:00 | 2022-01-01 00:00:00 |        nan |         nan |    nan |          0 | 2022-11-01 00:00:00 |          0 |            0 |           10 |          0 |          1 |      1 |        0 |
+------+----------------+---------------------+----------+----------+------------+------------+------------+------------------+----------+----------+---------------------+---------------------+------------+-------------+--------+------------+---------------------+------------+--------------+--------------+------------+------------+--------+----------+

기술통계
+----------------+---------+-------------+-------------+-------------+-----------+-------------+-------------+-----------+-------+
|                |   count |        mean |         std |         min |       25% |         50% |         75% |       max |   nan |
|----------------+---------+-------------+-------------+-------------+-----------+-------------+-------------+-----------+-------|
| 회원카드번호   |    6309 | 1.94642e+07 | 2.89157e+06 | 1.21313e+07 | 1.802e+07 | 2.00701e+07 | 2.20101e+07 | 2.401e+07 |     0 |
| 매출액         |    6309 |  1.0795e+06 |  1.4672e+06 |   -4.62e+06 |    720000 |    1.11e+06 |    1.49e+06 | 4.512e+07 |     0 |
| 골프전환       |    6309 |   0.0221905 |    0.154664 |           0 |         0 |           0 |           0 |         3 |     0 |
| 골프매출       |    6309 |      341468 |      714409 |  -2.028e+06 |         0 |           0 |      700000 | 3.788e+06 |     0 |
| 헬스매출       |    6309 |      499547 | 1.27131e+06 |  -2.178e+06 |         0 |      330000 |      990000 |   4.5e+07 |     0 |
| 환불사용금매출 |    6309 |     9539.94 |     82387.3 |           0 |         0 |           0 |           0 | 1.584e+06 |     0 |
| 미수액         |    6309 |     51817.3 |      443445 |    -3.3e+06 |         0 |           0 |           0 |  2.96e+07 |     0 |
| 개월수         |    6309 |     7.86702 |     5.90859 |         -24 |         4 |          12 |          12 |        24 |     0 |
| 환불여부       |     318 |           1 |           0 |           1 |         1 |           1 |           1 |         1 |  5991 |
| 골프전환2      |      52 |           1 |           0 |           1 |         1 |           1 |           1 |         1 |  6257 |
| 양도           |     538 |           1 |           0 |           1 |         1 |           1 |           1 |         1 |  5771 |
| 휴면가능       |    6309 |      1.0401 |     1.00118 |           0 |         0 |           2 |           2 |         4 |     0 |
| 거래순서       |    6309 |    0.688223 |     1.05926 |           0 |         0 |           0 |           1 |        15 |     0 |
| 마지막거래     |    6309 |     1.06752 |     1.35603 |           0 |         0 |           1 |           2 |        15 |     0 |
| 잔여개월수     |    6309 |     8.65811 |     5.95951 |         -24 |         5 |          12 |          12 |        33 |     0 |
| 결제시점       |    6309 |   -0.456966 |     4.18458 |         -45 |         0 |           0 |           0 |        22 |     0 |
| 이탈여부       |    6309 |    0.950864 |    0.656267 |           0 |         1 |           1 |           1 |         2 |     0 |
| 광고           |    6308 |    0.378567 |    0.485068 |           0 |         0 |           0 |           1 |         1 |     1 |
| 추세값         |    6308 |   0.0322272 |     1.39703 |         -16 |         0 |           0 |           0 |        23 |     1 |
+----------------+---------+-------------+-------------+-------------+-----------+-------------+-------------+-----------+-------+
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6309 entries, 0 to 6308
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   회원카드번호  6309 non-null   int64
 1   연월      6309 non-null   datetime64[ns]
 2   등록명     6309 non-null   object
 3   개월수     6309 non-null   int64
 4   종료시점    6309 non-null   datetime64[ns]
 5   최초등록월   6309 non-null   datetime64[ns]
 6   환불여부    318 non-null    float64
 7   양도      538 non-null    float64
 8   휴면가능    6309 non-null   int64
 9   휴면반영    5505 non-null   datetime64[ns]
 10  거래순서    6309 non-null   int64
 11  마지막거래   6309 non-null   int64
 12  잔여개월수   6309 non-null   int64
 13  결제시점    6309 non-null   int64
 14  이탈여부    6309 non-null   int64
 15  광고      6308 non-null   float64
 16  추세값     6308 non-null   float64
dtypes: datetime64[ns](4), float64(4), int64(8), object(1)
memory usage: 838.0+ KB

In [3]:
df10  =my_read_excel("통합8-5.xlsx")
df10['연월'] = to_datetime(df10['연월'], format="%Y-%m")
df11 = df10.drop(['등록명','개월수'], axis=1)
df11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 35 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6497 non-null   int64
 1   회원카드번호      6497 non-null   int64
 2   연월          6497 non-null   datetime64[ns]
 3   등록명         6497 non-null   object
 4   환불내역        543 non-null    object
 5   요일          1543 non-null   object
 6   미수액         6497 non-null   int64
 7   거래일_일       6497 non-null   int64
 8   환불일_일       6497 non-null   int64
 9   일일입장        6497 non-null   int64
 10  분실          6497 non-null   int64
 11  부가서비스사용     6497 non-null   int64
 12  레슨여부        6497 non-null   int64
 13  매출액         6497 non-null   int64
 14  개월수         6497 non-null   int64
 15  골프전환        6497 non-null   int64
 16  단체회원        6497 non-null   int64
 17  골프매출        6497 non-null   int64
 18  라카매출        6497 non-null   int64
 19  헬스매출        6497 non-null   int64
 20  PT매출        6497 non-null   int64
 21  골프레슨매출      6497 non-null   int64
 22  일일입장매출      6497 non-null   int64
 23  양도비매출       6497 non-null   int64
 24  필라테스매출      6497 non-null   int64
 25  환불사용금매출     6497 non-null   int64
 26  의류매출        6497 non-null   int64
 27  분실매출        6497 non-null   int64
 28  GX매출        6497 non-null   int64
 29  상환액매출       6497 non-null   int64
 30  입회비매출       6497 non-null   int64
 31  예치금매출       6497 non-null   int64
 32  FC 성별       6497 non-null   int64
 33  트레이너        749 non-null    object
 34  트레이너 성별     749 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(29), object(4)
memory usage: 1.7+ MB
None

상위 5개 행
+----+--------------+----------------+---------------------+----------+------------+--------+----------+-------------+-------------+------------+--------+------------------+------------+----------+----------+------------+------------+------------+------------+------------+----------+----------------+----------------+--------------+----------------+------------------+------------+------------+----------+--------------+--------------+--------------+-----------+------------+-----------------+
|    |   Unnamed: 0 |   회원카드번호 | 연월                | 등록명   |   환불내역 | 요일   |   미수액 |   거래일_일 |   환불일_일 |   일일입장 |   분실 |   부가서비스사용 |   레슨여부 |   매출액 |   개월수 |   골프전환 |   단체회원 |   골프매출 |   라카매출 |   헬스매출 |   PT매출 |   골프레슨매출 |   일일입장매출 |   양도비매출 |   필라테스매출 |   환불사용금매출 |   의류매출 |   분실매출 |   GX매출 |   상환액매출 |   입회비매출 |   예치금매출 |   FC 성별 |   트레이너 |   트레이너 성별 |
|----+--------------+----------------+---------------------+----------+------------+--------+----------+-------------+-------------+------------+--------+------------------+------------+----------+----------+------------+------------+------------+------------+------------+----------+----------------+----------------+--------------+----------------+------------------+------------+------------+----------+--------------+--------------+--------------+-----------+------------+-----------------|
|  0 |            0 |       12131325 | 2020-09-01 00:00:00 | 헬스     |        nan | 화     |        0 |           8 |           0 |          0 |      0 |                0 |          0 |   899000 |       12 |          0 |          0 |          0 |          0 |     899000 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |         2 |        nan |             nan |
|  1 |            1 |       13110008 | 2021-05-01 00:00:00 | 골프     |        nan | nan    |        0 |          26 |           0 |          0 |      0 |                2 |          1 |  1900000 |       12 |          0 |          0 |    1580000 |     120000 |          0 |        0 |         200000 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |         1 |        nan |             nan |
|  2 |            2 |       13110008 | 2022-06-01 00:00:00 | 골프     |        nan | nan    |        0 |          29 |           0 |          0 |      0 |                3 |          0 |  1920000 |       12 |          0 |          0 |    1580000 |     120000 |          0 |        0 |              0 |              0 |            0 |              0 |                0 |     220000 |          0 |        0 |            0 |            0 |            0 |         1 |        nan |             nan |
|  3 |            3 |       13110008 | 2023-11-01 00:00:00 | 골프     |        nan | nan    |        0 |           6 |           0 |          0 |      0 |                1 |          0 |  2120000 |       12 |          0 |          0 |    1880000 |     240000 |          0 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |         1 |        nan |             nan |
|  4 |            4 |       13110009 | 2020-10-01 00:00:00 | 헬스     |        nan | nan    |        0 |          30 |           0 |          0 |      0 |                2 |          0 |  1140000 |       12 |          0 |          0 |          0 |      60000 |    1080000 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |         0 |        nan |             nan |
+----+--------------+----------------+---------------------+----------+------------+--------+----------+-------------+-------------+------------+--------+------------------+------------+----------+----------+------------+------------+------------+------------+------------+----------+----------------+----------------+--------------+----------------+------------------+------------+------------+----------+--------------+--------------+--------------+-----------+------------+-----------------+

하위 5개 행
+------+--------------+----------------+---------------------+----------+------------+--------+----------+-------------+-------------+------------+--------+------------------+------------+----------+----------+------------+------------+------------+------------+------------+----------+----------------+----------------+--------------+----------------+------------------+------------+------------+----------+--------------+--------------+--------------+-----------+------------+-----------------+
|      |   Unnamed: 0 |   회원카드번호 | 연월                | 등록명   |   환불내역 | 요일   |   미수액 |   거래일_일 |   환불일_일 |   일일입장 |   분실 |   부가서비스사용 |   레슨여부 |   매출액 |   개월수 |   골프전환 |   단체회원 |   골프매출 |   라카매출 |   헬스매출 |   PT매출 |   골프레슨매출 |   일일입장매출 |   양도비매출 |   필라테스매출 |   환불사용금매출 |   의류매출 |   분실매출 |   GX매출 |   상환액매출 |   입회비매출 |   예치금매출 |   FC 성별 |   트레이너 |   트레이너 성별 |
|------+--------------+----------------+---------------------+----------+------------+--------+----------+-------------+-------------+------------+--------+------------------+------------+----------+----------+------------+------------+------------+------------+------------+----------+----------------+----------------+--------------+----------------+------------------+------------+------------+----------+--------------+--------------+--------------+-----------+------------+-----------------|
| 6492 |         6492 |       23120076 | 2023-12-01 00:00:00 | 헬스     |        nan | 금     |        0 |          29 |           0 |          0 |      0 |                0 |          0 |   990000 |       10 |          0 |          0 |          0 |          0 |     990000 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |         0 |        nan |             nan |
| 6493 |         6493 |       23120077 | 2023-12-01 00:00:00 | 헬스     |        nan | 금     |        0 |          29 |           0 |          0 |      0 |                0 |          0 |   990000 |       10 |          0 |          0 |          0 |          0 |     990000 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |         0 |        nan |             nan |
| 6494 |         6494 |       24010001 | 2023-12-01 00:00:00 | 헬스     |        nan | 일     |        0 |          31 |           0 |          0 |      0 |                0 |          0 |   990000 |       10 |          0 |          0 |          0 |          0 |     990000 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |         0 |        nan |             nan |
| 6495 |         6495 |       24010003 | 2022-01-01 00:00:00 | 헬스     |        nan | nan    |        0 |          31 |           0 |          0 |      0 |                1 |          0 |  1035000 |       10 |          0 |          0 |          0 |      45000 |     990000 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |         0 |        nan |             nan |
| 6496 |         6496 |       88017624 | 2023-02-01 00:00:00 | 골프     |        nan | 목     |        0 |          16 |           0 |          0 |      0 |                0 |          0 |        0 |        0 |          0 |          0 |          0 |          0 |          0 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |         0 |        nan |             nan |
+------+--------------+----------------+---------------------+----------+------------+--------+----------+-------------+-------------+------------+--------+------------------+------------+----------+----------+------------+------------+------------+------------+------------+----------+----------------+----------------+--------------+----------------+------------------+------------+------------+----------+--------------+--------------+--------------+-----------+------------+-----------------+

기술통계
+----------------+---------+-------------+-------------+-------------+-----------+-------------+-----------+-------------+-------+
|                |   count |        mean |         std |         min |       25% |         50% |       75% |         max |   nan |
|----------------+---------+-------------+-------------+-------------+-----------+-------------+-----------+-------------+-------|
| Unnamed: 0     |    6497 |        3248 |     1875.67 |           0 |      1624 |        3248 |      4872 |        6496 |     0 |
| 회원카드번호   |    6497 | 1.95043e+07 |   3.009e+06 | 1.21313e+07 | 1.803e+07 | 2.00701e+07 | 2.202e+07 | 8.80176e+07 |     0 |
| 미수액         |    6497 |     52287.7 |      440676 |    -3.3e+06 |         0 |           0 |         0 |    2.96e+07 |     0 |
| 거래일_일      |    6497 |     15.7057 |     9.86829 |           0 |         7 |          16 |        24 |          31 |     0 |
| 환불일_일      |    6497 |     1.20348 |     4.75724 |           0 |         0 |           0 |         0 |          31 |     0 |
| 일일입장       |    6497 |   0.0430968 |    0.733599 |           0 |         0 |           0 |         0 |          54 |     0 |
| 분실           |    6497 |   0.0181622 |    0.144616 |           0 |         0 |           0 |         0 |           4 |     0 |
| 부가서비스사용 |    6497 |     1.00046 |    0.966256 |          -2 |         0 |           1 |         2 |          10 |     0 |
| 레슨여부       |    6497 |    0.315992 |    0.778034 |          -2 |         0 |           0 |         0 |           8 |     0 |
| 매출액         |    6497 | 1.32073e+06 | 1.82173e+06 |   -4.62e+06 |    720000 |    1.14e+06 |  1.68e+06 | 4.53945e+07 |     0 |
| 개월수         |    6497 |     7.77297 |     6.64195 |         -24 |         4 |          12 |        12 |          24 |     0 |
| 골프전환       |    6497 |   0.0217023 |    0.152937 |           0 |         0 |           0 |         0 |           3 |     0 |
| 단체회원       |    6497 |    0.234262 |    0.423569 |           0 |         0 |           0 |         0 |           1 |     0 |
| 골프매출       |    6497 |      331588 |      706319 |  -2.028e+06 |         0 |           0 |    640000 |   3.788e+06 |     0 |
| 라카매출       |    6497 |     68381.6 |     95502.8 |     -360000 |         0 |       50000 |    120000 |      540000 |     0 |
| 헬스매출       |    6497 |      485092 | 1.25557e+06 |  -2.178e+06 |         0 |      270000 |    990000 |     4.5e+07 |     0 |
| PT매출         |    6497 |      275838 | 1.02485e+06 |    -3.3e+06 |         0 |           0 |         0 |  1.5625e+07 |     0 |
| 골프레슨매출   |    6497 |       64230 |      245376 |     -720000 |         0 |           0 |         0 |     2.5e+06 |     0 |
| 일일입장매출   |    6497 |     770.356 |     19085.1 |           0 |         0 |           0 |         0 |    1.49e+06 |     0 |
| 양도비매출     |    6497 |     1908.57 |     9621.32 |           0 |         0 |           0 |         0 |      100000 |     0 |
| 필라테스매출   |    6497 |     9516.85 |      154493 |   -1.98e+06 |         0 |           0 |         0 |  3.9765e+06 |     0 |
| 환불사용금매출 |    6497 |       12685 |      105696 |           0 |         0 |           0 |         0 |    2.58e+06 |     0 |
| 의류매출       |    6497 |     28696.3 |      224837 |     -120000 |         0 |           0 |         0 |    4.62e+06 |     0 |
| 분실매출       |    6497 |     183.161 |     1474.96 |           0 |         0 |           0 |         0 |       45000 |     0 |
| GX매출         |    6497 |      450.67 |     15171.6 |           0 |         0 |           0 |         0 |      888000 |     0 |
| 상환액매출     |    6497 |     40867.5 |      334180 |           0 |         0 |           0 |         0 |   2.032e+07 |     0 |
| 입회비매출     |    6497 |     307.834 |     5540.16 |           0 |         0 |           0 |         0 |      100000 |     0 |
| 예치금매출     |    6497 |     212.406 |     12207.8 |           0 |         0 |           0 |         0 |      780000 |     0 |
| FC 성별        |    6497 |      1.1593 |    0.573979 |           0 |         1 |           1 |         2 |           2 |     0 |
| 트레이너 성별  |     749 |      0.4753 |    0.796712 |           0 |         0 |           0 |         1 |           2 |  5748 |
+----------------+---------+-------------+-------------+-------------+-----------+-------------+-----------+-------------+-------+
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6497 non-null   int64
 1   회원카드번호      6497 non-null   int64
 2   연월          6497 non-null   datetime64[ns]
 3   환불내역        543 non-null    object
 4   요일          1543 non-null   object
 5   미수액         6497 non-null   int64
 6   거래일_일       6497 non-null   int64
 7   환불일_일       6497 non-null   int64
 8   일일입장        6497 non-null   int64
 9   분실          6497 non-null   int64
 10  부가서비스사용     6497 non-null   int64
 11  레슨여부        6497 non-null   int64
 12  매출액         6497 non-null   int64
 13  골프전환        6497 non-null   int64
 14  단체회원        6497 non-null   int64
 15  골프매출        6497 non-null   int64
 16  라카매출        6497 non-null   int64
 17  헬스매출        6497 non-null   int64
 18  PT매출        6497 non-null   int64
 19  골프레슨매출      6497 non-null   int64
 20  일일입장매출      6497 non-null   int64
 21  양도비매출       6497 non-null   int64
 22  필라테스매출      6497 non-null   int64
 23  환불사용금매출     6497 non-null   int64
 24  의류매출        6497 non-null   int64
 25  분실매출        6497 non-null   int64
 26  GX매출        6497 non-null   int64
 27  상환액매출       6497 non-null   int64
 28  입회비매출       6497 non-null   int64
 29  예치금매출       6497 non-null   int64
 30  FC 성별       6497 non-null   int64
 31  트레이너        749 non-null    object
 32  트레이너 성별     749 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(28), object(3)
memory usage: 1.6+ MB

In [4]:
df11['GX매출'].unique()

array([     0, 480000,  60000, 470000,  30000, 440000, 888000,  50000,
       150000], dtype=int64)

In [5]:
merged_df1 = merge(df2, df11, on=['회원카드번호','연월'])
merged_df1

,회원카드번호,연월,등록명,개월수,종료시점,최초등록월,환불여부,양도,휴면가능,휴면반영,...,환불사용금매출,의류매출,분실매출,GX매출,상환액매출,입회비매출,예치금매출,FC 성별,트레이너,트레이너 성별
0,12131325,2020-09-01,헬스,12,2021-09-01,2020-09-01,NaN,NaN,2,2021-11-01,...,0,0,0,0,0,0,0,2,NaN,NaN
1,13110008,2021-05-01,골프,12,2022-06-01,2021-05-01,NaN,NaN,2,NaT,...,0,0,0,0,0,0,0,1,NaN,NaN
2,13110008,2022-06-01,골프,12,2023-08-01,2021-05-01,NaN,NaN,2,NaT,...,0,220000,0,0,0,0,0,1,NaN,NaN
3,13110008,2023-11-01,골프,12,2024-11-01,2021-05-01,NaN,NaN,2,2025-01-01,...,0,0,0,0,0,0,0,1,NaN,NaN
4,13110009,2020-10-01,헬스,12,2021-12-01,2020-10-01,NaN,NaN,2,NaT,...,0,0,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6304,23120075,2023-12-01,골프,10,2024-10-01,2023-12-01,NaN,NaN,0,2024-10-01,...,0,30000,0,0,0,0,0,0,NaN,NaN
6305,23120076,2023-12-01,헬스,10,2024-10-01,2023-12-01,NaN,NaN,0,2024-10-01,...,0,0,0,0,0,0,0,0,NaN,NaN
6306,23120077,2023-12-01,헬스,10,2024-10-01,2023-12-01,NaN,NaN,0,2024-10-01,...,0,0,0,0,0,0,0,0,NaN,NaN
6307,24010001,2023-12-01,헬스,10,2024-10-01,2023-12-01,NaN,NaN,0,2024-10-01,...,0,0,0,0,0,0,0,0,NaN,NaN
6308,24010003,2022-01-01,헬스,10,2022-11-01,2022-01-01,NaN,NaN,0,2022-11-01,...,0,0,0,0,0,0,0,0,NaN,NaN

In [7]:
merged_df1.to_excel('통합9-2.xlsx', index=False)