In [26]:
%load_ext autoreload
%autoreload 2

from hossam.util import *
from hossam.plot import *
from hossam.tensor import *
from pandas import merge, read_excel, pivot_table, melt, to_datetime, to_timedelta, DateOffset, Timestamp, Period, Series
import numpy as np
import re

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [27]:
origin  =my_read_excel("통합7.xlsx")
origin['연월'] = to_datetime(origin['연월'], format="%Y-%m")
df = origin.copy()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10097 entries, 0 to 10096
Data columns (total 34 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   회원카드번호   10097 non-null  int64
 1   연월       10097 non-null  object
 2   미수액      10097 non-null  int64
 3   FC 강사    10097 non-null  object
 4   등록명      6529 non-null   object
 5   일일입장     10097 non-null  int64
 6   분실       10097 non-null  int64
 7   부가서비스사용  10097 non-null  int64
 8   레슨여부     10097 non-null  int64
 9   매출액      10097 non-null  int64
 10  개월수      10097 non-null  int64
 11  골프전환     10097 non-null  int64
 12  단체회원     10097 non-null  int64
 13  프로모션     10097 non-null  object
 14  단체명      2501 non-null   object
 15  패스       10097 non-null  object
 16  골프매출     10097 non-null  int64
 17  라카매출     10097 non-null  int64
 18  헬스매출     10097 non-null  int64
 19  PT매출     10097 non-null  int64
 20  골프레슨매출   10097 non-null  int64
 21  일일입장매출   10097 non-null  int64
 22  양도비매출    10097 non-null  int64
 23  필라테스매출   10097 non-null  int64
 24  환불사용금매출  10097 non-null  int64
 25  의류매출     10097 non-null  int64
 26  분실매출     10097 non-null  int64
 27  GX매출     10097 non-null  int64
 28  상환액매출    10097 non-null  int64
 29  입회비매출    10097 non-null  int64
 30  예치금매출    10097 non-null  int64
 31  FC 성별    10097 non-null  int64
 32  트레이너     1371 non-null   object
 33  트레이너 성별  1371 non-null   float64
dtypes: float64(1), int64(26), object(7)
memory usage: 2.6+ MB
None

상위 5개 행
+----+----------------+---------+----------+-----------+----------+------------+--------+------------------+------------+----------+----------+------------+------------+----------------+----------+--------+------------+------------+------------+----------+----------------+----------------+--------------+----------------+------------------+------------+------------+----------+--------------+--------------+--------------+-----------+------------+-----------------+
|    |   회원카드번호 | 연월    |   미수액 | FC 강사   | 등록명   |   일일입장 |   분실 |   부가서비스사용 |   레슨여부 |   매출액 |   개월수 |   골프전환 |   단체회원 | 프로모션       |   단체명 |   패스 |   골프매출 |   라카매출 |   헬스매출 |   PT매출 |   골프레슨매출 |   일일입장매출 |   양도비매출 |   필라테스매출 |   환불사용금매출 |   의류매출 |   분실매출 |   GX매출 |   상환액매출 |   입회비매출 |   예치금매출 |   FC 성별 |   트레이너 |   트레이너 성별 |
|----+----------------+---------+----------+-----------+----------+------------+--------+------------------+------------+----------+----------+------------+------------+----------------+----------+--------+------------+------------+------------+----------+----------------+----------------+--------------+----------------+------------------+------------+------------+----------+--------------+--------------+--------------+-----------+------------+-----------------|
|  0 |       12131325 | 2020-09 |        0 | 홍진석    | 헬스     |          0 |      0 |                0 |          0 |   899000 |       12 |          0 |          0 | 언택트프로모션 |      nan |      0 |          0 |          0 |     899000 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |         2 |        nan |             nan |
|  1 |       13110008 | 2021-05 |        0 | 신지연    | 골프     |          0 |      0 |                2 |          0 |  1700000 |       12 |          0 |          0 | 정상가격       |      nan |      0 |    1580000 |     120000 |          0 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |         1 |        nan |             nan |
|  2 |       13110008 | 2021-06 |        0 | 신지연    | nan      |          0 |      0 |                0 |          1 |   200000 |        0 |          0 |          0 | 0              |      nan |      0 |          0 |          0 |          0 |        0 |         200000 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |         1 |        nan |             nan |
|  3 |       13110008 | 2022-06 |        0 | 신지연    | 골프     |          0 |      0 |                2 |          0 |  1700000 |       12 |          0 |          0 | 정상가격       |      nan |      0 |    1580000 |     120000 |          0 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |         1 |        nan |             nan |
|  4 |       13110008 | 2023-08 |        0 | 신지연    | nan      |          0 |      0 |                1 |          0 |   220000 |        0 |          0 |          0 | 0              |      nan |      0 |          0 |          0 |          0 |        0 |              0 |              0 |            0 |              0 |                0 |     220000 |          0 |        0 |            0 |            0 |            0 |         1 |        nan |             nan |
+----+----------------+---------+----------+-----------+----------+------------+--------+------------------+------------+----------+----------+------------+------------+----------------+----------+--------+------------+------------+------------+----------+----------------+----------------+--------------+----------------+------------------+------------+------------+----------+--------------+--------------+--------------+-----------+------------+-----------------+

하위 5개 행
+-------+----------------+---------+----------+-----------+----------+------------+--------+------------------+------------+----------+----------+------------+------------+----------------+----------+--------------+------------+------------+------------+----------+----------------+----------------+--------------+----------------+------------------+------------+------------+----------+--------------+--------------+--------------+-----------+------------+-----------------+
|       |   회원카드번호 | 연월    |   미수액 | FC 강사   | 등록명   |   일일입장 |   분실 |   부가서비스사용 |   레슨여부 |   매출액 |   개월수 |   골프전환 |   단체회원 | 프로모션       |   단체명 | 패스         |   골프매출 |   라카매출 |   헬스매출 |   PT매출 |   골프레슨매출 |   일일입장매출 |   양도비매출 |   필라테스매출 |   환불사용금매출 |   의류매출 |   분실매출 |   GX매출 |   상환액매출 |   입회비매출 |   예치금매출 |   FC 성별 |   트레이너 |   트레이너 성별 |
|-------+----------------+---------+----------+-----------+----------+------------+--------+------------------+------------+----------+----------+------------+------------+----------------+----------+--------------+------------+------------+------------+----------+----------------+----------------+--------------+----------------+------------------+------------+------------+----------+--------------+--------------+--------------+-----------+------------+-----------------|
| 10092 |       23120077 | 2023-12 |        0 | 기타      | 헬스     |          0 |      0 |                0 |          0 |   990000 |       10 |          0 |          0 | 10주년프리세일 |      nan | 이코노미패스 |          0 |          0 |     990000 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |         0 |        nan |             nan |
| 10093 |       24010001 | 2023-12 |        0 | 기타      | 헬스     |          0 |      0 |                0 |          0 |   990000 |       10 |          0 |          0 | 10주년프리세일 |      nan | 이코노미패스 |          0 |          0 |     990000 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |         0 |        nan |             nan |
| 10094 |       24010002 | 2023-12 |        0 | 기타      | nan      |          0 |      0 |                0 |          0 |   990000 |        0 |          0 |          0 | 0              |      nan | 0            |          0 |          0 |          0 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |       990000 |            0 |            0 |         0 |        nan |             nan |
| 10095 |       24010003 | 2022-01 |        0 | 기타      | 헬스     |          0 |      0 |                1 |          0 |  1035000 |       10 |          0 |          0 | 10주년프리세일 |      nan | 이코노미패스 |          0 |      45000 |     990000 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |         0 |        nan |             nan |
| 10096 |       88017624 | 2023-02 |        0 | 기타      | 골프     |          0 |      0 |                0 |          0 |        0 |        0 |          0 |          0 | 정상가격       |      nan | 0            |          0 |          0 |          0 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |         0 |        nan |             nan |
+-------+----------------+---------+----------+-----------+----------+------------+--------+------------------+------------+----------+----------+------------+------------+----------------+----------+--------------+------------+------------+------------+----------+----------------+----------------+--------------+----------------+------------------+------------+------------+----------+--------------+--------------+--------------+-----------+------------+-----------------+

기술통계
+----------------+---------+-------------+-------------+-------------+-------------+-----------+-----------+-------------+-------+
|                |   count |        mean |         std |         min |         25% |       50% |       75% |         max |   nan |
|----------------+---------+-------------+-------------+-------------+-------------+-----------+-----------+-------------+-------|
| 회원카드번호   |   10097 | 1.93596e+07 | 2.94989e+06 | 1.21313e+07 | 1.80101e+07 | 2.006e+07 | 2.112e+07 | 8.80176e+07 |     0 |
| 미수액         |   10097 |     34621.6 |      356358 |    -3.3e+06 |           0 |         0 |         0 |    2.96e+07 |     0 |
| 일일입장       |   10097 |   0.0397148 |    0.300072 |           0 |           0 |         0 |         0 |          13 |     0 |
| 분실           |   10097 |   0.0136674 |    0.116112 |           0 |           0 |         0 |         0 |           1 |     0 |
| 부가서비스사용 |   10097 |    0.684461 |    0.756292 |          -2 |           0 |         1 |         1 |           5 |     0 |
| 레슨여부       |   10097 |    0.275527 |    0.506249 |           0 |           0 |         0 |         1 |           6 |     0 |
| 매출액         |   10097 |      906815 | 1.32502e+06 |      -6e+06 |      120000 |    940000 |  1.39e+06 |   4.512e+07 |     0 |
| 개월수         |   10097 |     5.01585 |     6.49907 |         -24 |           0 |         3 |        12 |          24 |     0 |
| 골프전환       |   10097 |   0.0138655 |    0.122724 |           0 |           0 |         0 |         0 |           3 |     0 |
| 단체회원       |   10097 |    0.243736 |    0.429356 |           0 |           0 |         0 |         0 |           1 |     0 |
| 골프매출       |   10097 |      213522 |      588594 |  -2.028e+06 |           0 |         0 |         0 |   3.788e+06 |     0 |
| 라카매출       |   10097 |     45932.7 |     80352.7 |     -360000 |           0 |         0 |     90000 |      360000 |     0 |
| 헬스매출       |   10097 |      313561 | 1.03399e+06 |  -2.178e+06 |           0 |         0 |    888000 |     4.5e+07 |     0 |
| PT매출         |   10097 |      220516 |      726555 |      -6e+06 |           0 |         0 |         0 |     6.6e+06 |     0 |
| 골프레슨매출   |   10097 |     45030.9 |      145935 |     -720000 |           0 |         0 |         0 |    1.62e+06 |     0 |
| 일일입장매출   |   10097 |     689.809 |     6829.66 |           0 |           0 |         0 |         0 |      400000 |     0 |
| 양도비매출     |   10097 |     1282.56 |     7905.01 |           0 |           0 |         0 |         0 |       50000 |     0 |
| 필라테스매출   |   10097 |     8095.03 |      134523 |   -1.98e+06 |           0 |         0 |         0 |     5.5e+06 |     0 |
| 환불사용금매출 |   10097 |     10338.4 |      101689 |           0 |           0 |         0 |         0 |    2.58e+06 |     0 |
| 의류매출       |   10097 |     19395.4 |      183133 |  -1.155e+06 |           0 |         0 |         0 |    4.07e+06 |     0 |
| 분실매출       |   10097 |     137.665 |     1171.62 |           0 |           0 |         0 |         0 |       15000 |     0 |
| GX매출         |   10097 |     450.431 |     14533.5 |      -30000 |           0 |         0 |         0 |      888000 |     0 |
| 상환액매출     |   10097 |     27518.3 |      272046 |           0 |           0 |         0 |         0 |   2.032e+07 |     0 |
| 입회비매출     |   10097 |     207.983 |     4555.99 |           0 |           0 |         0 |         0 |      100000 |     0 |
| 예치금매출     |   10097 |     136.674 |     9792.88 |           0 |           0 |         0 |         0 |      780000 |     0 |
| FC 성별        |   10097 |      1.1441 |    0.582474 |           0 |           1 |         1 |         2 |           2 |     0 |
| 트레이너 성별  |    1371 |    0.329686 |     0.69565 |           0 |           0 |         0 |         0 |           2 |  8726 |
+----------------+---------+-------------+-------------+-------------+-------------+-----------+-----------+-------------+-------+

In [28]:
df['GX매출'].unique()

array([     0, 480000,  60000, 470000,  30000, 440000, 180000, 540000,
       888000,  50000, -30000, 150000, 100000], dtype=int64)

In [29]:
origin2  =my_read_excel("통합5-3.xlsx")
df10 = origin2.copy()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10028 entries, 0 to 10027
Data columns (total 35 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   회원카드번호   10028 non-null  int64
 1   연월       10028 non-null  object
 2   요일       10028 non-null  object
 3   미수액      10028 non-null  int64
 4   FC 강사    9293 non-null   object
 5   등록명      6497 non-null   object
 6   일일입장     10028 non-null  int64
 7   분실       10028 non-null  int64
 8   부가서비스사용  10028 non-null  int64
 9   레슨여부     10028 non-null  int64
 10  매출액      10028 non-null  int64
 11  개월수      10028 non-null  int64
 12  골프전환     10028 non-null  int64
 13  단체회원     10028 non-null  int64
 14  프로모션     10028 non-null  object
 15  단체명      2497 non-null   object
 16  패스       10028 non-null  object
 17  환불내역     10028 non-null  object
 18  거래일_일    10028 non-null  int64
 19  환불일_일    10028 non-null  int64
 20  골프매출     10028 non-null  int64
 21  라카매출     10028 non-null  int64
 22  헬스매출     10028 non-null  int64
 23  PT매출     10028 non-null  int64
 24  골프레슨매출   10028 non-null  int64
 25  일일입장매출   10028 non-null  int64
 26  양도비매출    10028 non-null  int64
 27  필라테스매출   10028 non-null  int64
 28  환불사용금매출  10028 non-null  int64
 29  의류매출     10028 non-null  int64
 30  분실매출     10028 non-null  int64
 31  GX매출     10028 non-null  int64
 32  상환액매출    10028 non-null  int64
 33  입회비매출    10028 non-null  int64
 34  예치금매출    10028 non-null  int64
dtypes: int64(27), object(8)
memory usage: 2.7+ MB
None

상위 5개 행
+----+----------------+---------+--------+----------+-----------+----------+------------+--------+------------------+------------+----------+----------+------------+------------+----------------+----------+--------+------------+-------------+-------------+------------+------------+------------+----------+----------------+----------------+--------------+----------------+------------------+------------+------------+----------+--------------+--------------+--------------+
|    |   회원카드번호 | 연월    | 요일   |   미수액 | FC 강사   | 등록명   |   일일입장 |   분실 |   부가서비스사용 |   레슨여부 |   매출액 |   개월수 |   골프전환 |   단체회원 | 프로모션       |   단체명 |   패스 |   환불내역 |   거래일_일 |   환불일_일 |   골프매출 |   라카매출 |   헬스매출 |   PT매출 |   골프레슨매출 |   일일입장매출 |   양도비매출 |   필라테스매출 |   환불사용금매출 |   의류매출 |   분실매출 |   GX매출 |   상환액매출 |   입회비매출 |   예치금매출 |
|----+----------------+---------+--------+----------+-----------+----------+------------+--------+------------------+------------+----------+----------+------------+------------+----------------+----------+--------+------------+-------------+-------------+------------+------------+------------+----------+----------------+----------------+--------------+----------------+------------------+------------+------------+----------+--------------+--------------+--------------|
|  0 |       12131325 | 2020-09 | 화     |        0 | 홍진석    | 헬스     |          0 |      0 |                0 |          0 |   899000 |       12 |          0 |          0 | 언택트프로모션 |      nan |      0 |          0 |           8 |           0 |          0 |          0 |     899000 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |
|  1 |       13110008 | 2021-05 | 수수수 |        0 | 신지연    | 골프     |          0 |      0 |                2 |          0 |  1700000 |       12 |          0 |          0 | 정상가격       |      nan |      0 |          0 |          26 |           0 |    1580000 |     120000 |          0 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |
|  2 |       13110008 | 2021-06 | 월     |        0 | 신지연    | nan      |          0 |      0 |                0 |          1 |   200000 |        0 |          0 |          0 | 0              |      nan |      0 |          0 |           0 |           0 |          0 |          0 |          0 |        0 |         200000 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |
|  3 |       13110008 | 2022-06 | 수수수 |        0 | 신지연    | 골프     |          0 |      0 |                2 |          0 |  1700000 |       12 |          0 |          0 | 정상가격       |      nan |      0 |          0 |          29 |           0 |    1580000 |     120000 |          0 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |
|  4 |       13110008 | 2023-08 | 화     |        0 | 신지연    | nan      |          0 |      0 |                1 |          0 |   220000 |        0 |          0 |          0 | 0              |      nan |      0 |          0 |           0 |           0 |          0 |          0 |          0 |        0 |              0 |              0 |            0 |              0 |                0 |     220000 |          0 |        0 |            0 |            0 |            0 |
+----+----------------+---------+--------+----------+-----------+----------+------------+--------+------------------+------------+----------+----------+------------+------------+----------------+----------+--------+------------+-------------+-------------+------------+------------+------------+----------+----------------+----------------+--------------+----------------+------------------+------------+------------+----------+--------------+--------------+--------------+

하위 5개 행
+-------+----------------+---------+--------+----------+-----------+----------+------------+--------+------------------+------------+----------+----------+------------+------------+----------------+----------+--------------+------------+-------------+-------------+------------+------------+------------+----------+----------------+----------------+--------------+----------------+------------------+------------+------------+----------+--------------+--------------+--------------+
|       |   회원카드번호 | 연월    | 요일   |   미수액 |   FC 강사 | 등록명   |   일일입장 |   분실 |   부가서비스사용 |   레슨여부 |   매출액 |   개월수 |   골프전환 |   단체회원 | 프로모션       |   단체명 | 패스         |   환불내역 |   거래일_일 |   환불일_일 |   골프매출 |   라카매출 |   헬스매출 |   PT매출 |   골프레슨매출 |   일일입장매출 |   양도비매출 |   필라테스매출 |   환불사용금매출 |   의류매출 |   분실매출 |   GX매출 |   상환액매출 |   입회비매출 |   예치금매출 |
|-------+----------------+---------+--------+----------+-----------+----------+------------+--------+------------------+------------+----------+----------+------------+------------+----------------+----------+--------------+------------+-------------+-------------+------------+------------+------------+----------+----------------+----------------+--------------+----------------+------------------+------------+------------+----------+--------------+--------------+--------------|
| 10023 |       23120077 | 2023-12 | 금     |        0 |       nan | 헬스     |          0 |      0 |                0 |          0 |   990000 |       10 |          0 |          0 | 10주년프리세일 |      nan | 이코노미패스 |          0 |          29 |           0 |          0 |          0 |     990000 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |
| 10024 |       24010001 | 2023-12 | 일     |        0 |       nan | 헬스     |          0 |      0 |                0 |          0 |   990000 |       10 |          0 |          0 | 10주년프리세일 |      nan | 이코노미패스 |          0 |          31 |           0 |          0 |          0 |     990000 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |
| 10025 |       24010002 | 2023-12 | 일     |        0 |       nan | nan      |          0 |      0 |                0 |          0 |   990000 |        0 |          0 |          0 | 0              |      nan | 0            |          0 |           0 |           0 |          0 |          0 |          0 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |       990000 |            0 |            0 |
| 10026 |       24010003 | 2022-01 | 일일   |        0 |       nan | 헬스     |          0 |      0 |                1 |          0 |  1035000 |       10 |          0 |          0 | 10주년프리세일 |      nan | 이코노미패스 |          0 |          31 |           0 |          0 |      45000 |     990000 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |
| 10027 |       88017624 | 2023-02 | 목     |        0 |       nan | 골프     |          0 |      0 |                0 |          0 |        0 |        0 |          0 |          0 | 정상가격       |      nan | 0            |          0 |          16 |           0 |          0 |          0 |          0 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |
+-------+----------------+---------+--------+----------+-----------+----------+------------+--------+------------------+------------+----------+----------+------------+------------+----------------+----------+--------------+------------+-------------+-------------+------------+------------+------------+----------+----------------+----------------+--------------+----------------+------------------+------------+------------+----------+--------------+--------------+--------------+

기술통계
+----------------+---------+-------------+-------------+-------------+-------------+-----------+-----------+-------------+-------+
|                |   count |        mean |         std |         min |         25% |       50% |       75% |         max |   nan |
|----------------+---------+-------------+-------------+-------------+-------------+-----------+-----------+-------------+-------|
| 회원카드번호   |   10028 | 1.93554e+07 | 2.95105e+06 | 1.21313e+07 | 1.80101e+07 | 2.006e+07 | 2.112e+07 | 8.80176e+07 |     0 |
| 미수액         |   10028 |     34130.7 |      355701 |    -3.3e+06 |           0 |         0 |         0 |    2.96e+07 |     0 |
| 일일입장       |   10028 |    0.039988 |    0.301084 |           0 |           0 |         0 |         0 |          13 |     0 |
| 분실           |   10028 |   0.0137615 |    0.116505 |           0 |           0 |         0 |         0 |           1 |     0 |
| 부가서비스사용 |   10028 |    0.687276 |    0.756561 |          -2 |           0 |         1 |         1 |           5 |     0 |
| 레슨여부       |   10028 |    0.237236 |    0.465271 |          -2 |           0 |         0 |         0 |           3 |     0 |
| 매출액         |   10028 |      900905 | 1.32273e+06 |      -6e+06 |      120000 |    940000 |  1.38e+06 |   4.512e+07 |     0 |
| 개월수         |   10028 |       5.036 |     6.50884 |         -24 |           0 |         3 |        12 |          24 |     0 |
| 골프전환       |   10028 |   0.0140606 |    0.123534 |           0 |           0 |         0 |         0 |           3 |     0 |
| 단체회원       |   10028 |    0.245014 |    0.430117 |           0 |           0 |         0 |         0 |           1 |     0 |
| 거래일_일      |   10028 |     10.1755 |     10.9256 |           0 |           0 |         6 |        20 |          31 |     0 |
| 환불일_일      |   10028 |    0.779717 |     3.87197 |           0 |           0 |         0 |         0 |          31 |     0 |
| 골프매출       |   10028 |      214831 |      590160 |  -2.028e+06 |           0 |         0 |         0 |   3.788e+06 |     0 |
| 라카매출       |   10028 |     46138.1 |     80513.1 |     -360000 |           0 |         0 |     90000 |      360000 |     0 |
| 헬스매출       |   10028 |      314284 | 1.03682e+06 |  -2.178e+06 |           0 |         0 |    890000 |     4.5e+07 |     0 |
| PT매출         |   10028 |      212480 |      715046 |      -6e+06 |           0 |         0 |         0 |     6.6e+06 |     0 |
| 골프레슨매출   |   10028 |     45136.4 |      145896 |     -720000 |           0 |         0 |         0 |    1.62e+06 |     0 |
| 일일입장매출   |   10028 |     694.555 |     6852.88 |           0 |           0 |         0 |         0 |      400000 |     0 |
| 양도비매출     |   10028 |      1286.4 |     7916.52 |           0 |           0 |         0 |         0 |       50000 |     0 |
| 필라테스매출   |   10028 |     8150.73 |      134983 |   -1.98e+06 |           0 |         0 |         0 |     5.5e+06 |     0 |
| 환불사용금매출 |   10028 |     10373.7 |      102006 |           0 |           0 |         0 |         0 |    2.58e+06 |     0 |
| 의류매출       |   10028 |     19494.9 |      183746 |  -1.155e+06 |           0 |         0 |         0 |    4.07e+06 |     0 |
| 분실매출       |   10028 |     138.612 |     1175.59 |           0 |           0 |         0 |         0 |       15000 |     0 |
| GX매출         |   10028 |     448.544 |     14574.9 |      -30000 |           0 |         0 |         0 |      888000 |     0 |
| 상환액매출     |   10028 |     27101.4 |      270626 |           0 |           0 |         0 |         0 |   2.032e+07 |     0 |
| 입회비매출     |   10028 |     209.414 |     4571.61 |           0 |           0 |         0 |         0 |      100000 |     0 |
| 예치금매출     |   10028 |     137.615 |     9826.51 |           0 |           0 |         0 |         0 |      780000 |     0 |
+----------------+---------+-------------+-------------+-------------+-------------+-----------+-----------+-------------+-------+

In [30]:
df['등록명'].unique()
등록명 = ['헬스', '골프', '골프골프', '헬스헬스', '헬스골프', '헬스헬스헬스', '골프헬스',
       '헬스골프골프', '골프골프골프', '골프골프골프골프', '골프헬스헬스', '골프헬스골프골프', '골프헬스골프']

In [34]:
df10['등록명'].unique()
등록명2 = ['헬스', '골프', '골프골프', '헬스헬스', '골프헬스', '헬스헬스헬스', '헬스골프',
       '골프골프헬스', '골프골프골프', '골프골프골프골프', '헬스헬스골프', '골프골프골프헬스', '골프헬스골프']

### PT매출이 있는 항목

In [35]:
import pandas as pd
pd.set_option("display.max_columns", None)

In [36]:
df10[df10['PT매출']>0]['등록명'].unique()

array(['골프', nan, '헬스', '헬스골프', '헬스헬스', '헬스헬스헬스'], dtype=object)

In [37]:
df10[(df10['PT매출']>0)&(df10['골프매출']==0)&(df10['상환액매출']==0)&(df10['등록명']=='골프')]

,회원카드번호,연월,요일,미수액,FC 강사,등록명,일일입장,분실,부가서비스사용,레슨여부,매출액,개월수,골프전환,단체회원,프로모션,단체명,패스,환불내역,거래일_일,환불일_일,골프매출,라카매출,헬스매출,PT매출,골프레슨매출,일일입장매출,양도비매출,필라테스매출,환불사용금매출,의류매출,분실매출,GX매출,상환액매출,입회비매출,예치금매출
305,13120195,2020-02,화금,0,장수경,골프,0,0,0,1,190000,0,0,0,정상가격,NaN,0,0,18,0,0,0,0,190000,0,0,0,0,0,0,0,0,0,0,0

In [24]:
df10[(df10['PT매출']>0)&(df10['골프매출']==0)&(df10['상환액매출']==0)&(df10['등록명'].isna())]

,회원카드번호,연월,요일,미수액,FC 강사,등록명,일일입장,분실,부가서비스사용,레슨여부,매출액,개월수,골프전환,단체회원,프로모션,단체명,패스,환불내역,거래일_일,환불일_일,골프매출,라카매출,헬스매출,PT매출,골프레슨매출,일일입장매출,양도비매출,필라테스매출,환불사용금매출,의류매출,분실매출,GX매출,상환액매출,입회비매출,예치금매출
20,13110030,2020-04,화,0,홍진석,NaN,0,0,0,1,1100000,0,0,0,0,NaN,0,0,0,0,0,0,0,1100000,0,0,0,0,0,0,0,0,0,0,0
24,13110030,2021-08,수,0,홍진석,NaN,0,0,0,1,1980000,0,0,0,0,NaN,0,0,0,0,0,0,0,1980000,0,0,0,0,0,0,0,0,0,0,0
25,13110030,2022-03,월수,0,홍진석,NaN,0,0,1,1,2030000,0,0,0,0,NaN,0,0,0,0,0,20000,0,2010000,0,0,0,0,0,0,0,0,0,0,0
31,13110035,2021-11,월,0,장수경,NaN,0,0,0,1,3850000,0,0,0,0,NaN,0,0,0,0,0,0,0,3850000,0,0,0,0,0,0,0,0,0,0,0
33,13110035,2022-08,금,0,장수경,NaN,0,0,0,1,3300000,0,0,0,0,NaN,0,0,0,0,0,0,0,3300000,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9887,23100052,2023-11,화화,0,신지연,NaN,0,0,1,1,990000,0,0,0,0,NaN,0,0,0,0,0,0,0,990000,0,0,0,0,0,0,0,0,0,0,0
9927,23110037,2023-11,월,0,신지연,NaN,0,0,0,1,880000,0,0,0,0,NaN,0,0,0,0,0,0,0,880000,0,0,0,0,0,0,0,0,0,0,0
9934,23110043,2023-11,목,0,NaN,NaN,0,0,0,1,1925000,0,0,0,0,NaN,0,0,0,0,0,0,0,1925000,0,0,0,0,0,0,0,0,0,0,0
9940,23110048,2023-11,금,0,NaN,NaN,0,0,0,1,990000,0,0,0,0,NaN,0,0,0,0,0,0,0,990000,0,0,0,0,0,0,0,0,0,0,0
10012,23120064,2023-12,수,0,NaN,NaN,0,0,0,1,880000,0,0,0,0,NaN,0,0,0,0,0,0,0,880000,0,0,0,0,0,0,0,0,0,0,0

In [25]:
df10[df10['회원카드번호']==15070082]

,회원카드번호,연월,요일,미수액,FC 강사,등록명,일일입장,분실,부가서비스사용,레슨여부,매출액,개월수,골프전환,단체회원,프로모션,단체명,패스,환불내역,거래일_일,환불일_일,골프매출,라카매출,헬스매출,PT매출,골프레슨매출,일일입장매출,양도비매출,필라테스매출,환불사용금매출,의류매출,분실매출,GX매출,상환액매출,입회비매출,예치금매출
1381,15070082,2020-05,월,0,홍진석,NaN,0,0,0,1,1650000,0,0,0,0,NaN,0,0,0,0,0,0,0,1650000,0,0,0,0,0,0,0,0,0,0,0
1382,15070082,2021-03,수수화,0,홍진석,헬스,0,0,1,-1,-560000,12,0,0,정상가격,NaN,0,0,3,0,0,100000,990000,-1650000,0,0,0,0,0,0,0,0,0,0,0
1383,15070082,2021-05,금,0,홍진석,NaN,0,0,0,1,885000,0,0,0,0,NaN,0,0,0,0,0,0,0,885000,0,0,0,0,0,0,0,0,0,0,0
1384,15070082,2021-08,금금금금,0,홍진석,헬스,0,0,-1,-1,-1503000,-12,0,0,정상가격,NaN,0,헬스,0,27,0,-100000,-990000,-885000,0,0,0,0,472000,0,0,0,0,0,0

### 등록명이 NULL행 편입시키기

In [38]:
회원카드 = df['회원카드번호'].unique()
행병합 = []

for i in 회원카드:
    a = df.query('회원카드번호 == @i').sort_values(by="연월")  # 연월에 대해 데이터프레임을 정렬
    a.reset_index(drop=True, inplace=True)

    for j in range(len(a)):
        if j == len(a)-1:
            continue
        if (a.loc[j, '등록명'] in 등록명) and (a.loc[j+1, '등록명'] not in 등록명):
            a.loc[j+1, '연월'] = a.loc[j, '연월']
            a.loc[j+1, '등록명'] = a.loc[j, '등록명']
        
    행병합.append(a)  # 행병합 리스트에 데이터프레임 추가

# 모든 데이터프레임을 행 방향으로 병합
df1 = concat(행병합, ignore_index=True)
df1

,회원카드번호,연월,미수액,FC 강사,등록명,일일입장,분실,부가서비스사용,레슨여부,매출액,개월수,골프전환,단체회원,프로모션,단체명,패스,골프매출,라카매출,헬스매출,PT매출,골프레슨매출,일일입장매출,양도비매출,필라테스매출,환불사용금매출,의류매출,분실매출,GX매출,상환액매출,입회비매출,예치금매출,FC 성별,트레이너,트레이너 성별
0,12131325,2020-09-01,0,홍진석,헬스,0,0,0,0,899000,12,0,0,언택트프로모션,NaN,0,0,0,899000,0,0,0,0,0,0,0,0,0,0,0,0,2,NaN,NaN
1,13110008,2021-05-01,0,신지연,골프,0,0,2,0,1700000,12,0,0,정상가격,NaN,0,1580000,120000,0,0,0,0,0,0,0,0,0,0,0,0,0,1,NaN,NaN
2,13110008,2021-05-01,0,신지연,골프,0,0,0,1,200000,0,0,0,0,NaN,0,0,0,0,0,200000,0,0,0,0,0,0,0,0,0,0,1,NaN,NaN
3,13110008,2022-06-01,0,신지연,골프,0,0,2,0,1700000,12,0,0,정상가격,NaN,0,1580000,120000,0,0,0,0,0,0,0,0,0,0,0,0,0,1,NaN,NaN
4,13110008,2022-06-01,0,신지연,골프,0,0,1,0,220000,0,0,0,0,NaN,0,0,0,0,0,0,0,0,0,0,220000,0,0,0,0,0,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10092,23120077,2023-12-01,0,기타,헬스,0,0,0,0,990000,10,0,0,10주년프리세일,NaN,이코노미패스,0,0,990000,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
10093,24010001,2023-12-01,0,기타,헬스,0,0,0,0,990000,10,0,0,10주년프리세일,NaN,이코노미패스,0,0,990000,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
10094,24010002,2023-12-01,0,기타,NaN,0,0,0,0,990000,0,0,0,0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,990000,0,0,0,NaN,NaN
10095,24010003,2022-01-01,0,기타,헬스,0,0,1,0,1035000,10,0,0,10주년프리세일,NaN,이코노미패스,0,45000,990000,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
10096,88017624,2023-02-01,0,기타,골프,0,0,0,0,0,0,0,0,정상가격,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN

In [39]:
회원카드 = df10['회원카드번호'].unique()
행병합 = []

for i in 회원카드:
    a = df10.query('회원카드번호 == @i').sort_values(by="연월")  # 연월에 대해 데이터프레임을 정렬
    a.reset_index(drop=True, inplace=True)

    for j in range(len(a)):
        if j == len(a)-1:
            continue
        if (a.loc[j, '등록명'] in 등록명2) and (a.loc[j+1, '등록명'] not in 등록명2):
            a.loc[j+1, '연월'] = a.loc[j, '연월']
            a.loc[j+1, '등록명'] = a.loc[j, '등록명']
        
    행병합.append(a)  # 행병합 리스트에 데이터프레임 추가

# 모든 데이터프레임을 행 방향으로 병합
df11 = concat(행병합, ignore_index=True)
df11

,회원카드번호,연월,요일,미수액,FC 강사,등록명,일일입장,분실,부가서비스사용,레슨여부,매출액,개월수,골프전환,단체회원,프로모션,단체명,패스,환불내역,거래일_일,환불일_일,골프매출,라카매출,헬스매출,PT매출,골프레슨매출,일일입장매출,양도비매출,필라테스매출,환불사용금매출,의류매출,분실매출,GX매출,상환액매출,입회비매출,예치금매출
0,12131325,2020-09,화,0,홍진석,헬스,0,0,0,0,899000,12,0,0,언택트프로모션,NaN,0,0,8,0,0,0,899000,0,0,0,0,0,0,0,0,0,0,0,0
1,13110008,2021-05,수수수,0,신지연,골프,0,0,2,0,1700000,12,0,0,정상가격,NaN,0,0,26,0,1580000,120000,0,0,0,0,0,0,0,0,0,0,0,0,0
2,13110008,2021-05,월,0,신지연,골프,0,0,0,1,200000,0,0,0,0,NaN,0,0,0,0,0,0,0,0,200000,0,0,0,0,0,0,0,0,0,0
3,13110008,2022-06,수수수,0,신지연,골프,0,0,2,0,1700000,12,0,0,정상가격,NaN,0,0,29,0,1580000,120000,0,0,0,0,0,0,0,0,0,0,0,0,0
4,13110008,2022-06,화,0,신지연,골프,0,0,1,0,220000,0,0,0,0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,220000,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10023,23120077,2023-12,금,0,NaN,헬스,0,0,0,0,990000,10,0,0,10주년프리세일,NaN,이코노미패스,0,29,0,0,0,990000,0,0,0,0,0,0,0,0,0,0,0,0
10024,24010001,2023-12,일,0,NaN,헬스,0,0,0,0,990000,10,0,0,10주년프리세일,NaN,이코노미패스,0,31,0,0,0,990000,0,0,0,0,0,0,0,0,0,0,0,0
10025,24010002,2023-12,일,0,NaN,NaN,0,0,0,0,990000,0,0,0,0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,990000,0,0
10026,24010003,2022-01,일일,0,NaN,헬스,0,0,1,0,1035000,10,0,0,10주년프리세일,NaN,이코노미패스,0,31,0,0,45000,990000,0,0,0,0,0,0,0,0,0,0,0,0
10027,88017624,2023-02,목,0,NaN,골프,0,0,0,0,0,0,0,0,정상가격,NaN,0,0,16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [40]:
df2 = df1[(df1['등록명'].isin(등록명))]
df2.reset_index(drop=True, inplace=True)

In [41]:
df12 = df11[(df11['등록명'].isin(등록명2))]
df12.reset_index(inplace=True)

In [42]:
# df2['단체명'].unique()
# df2.loc[df2['패스']==0, '패스'] ='0'
# df2['프로모션'].unique()
# df2.loc[df2['프로모션']==0, '프로모션'] ='0'

# NaN 값을 0으로 대체한 후 int64로 변환
# df2['트레이너 성별'] = df2['트레이너 성별'].fillna(0).astype("int64")

# 등록명
# 프로모션
df12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9188 entries, 0 to 9187
Data columns (total 36 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   index    9188 non-null   int64
 1   회원카드번호   9188 non-null   int64
 2   연월       9188 non-null   object
 3   요일       9188 non-null   object
 4   미수액      9188 non-null   int64
 5   FC 강사    8601 non-null   object
 6   등록명      9188 non-null   object
 7   일일입장     9188 non-null   int64
 8   분실       9188 non-null   int64
 9   부가서비스사용  9188 non-null   int64
 10  레슨여부     9188 non-null   int64
 11  매출액      9188 non-null   int64
 12  개월수      9188 non-null   int64
 13  골프전환     9188 non-null   int64
 14  단체회원     9188 non-null   int64
 15  프로모션     9188 non-null   object
 16  단체명      2385 non-null   object
 17  패스       9188 non-null   object
 18  환불내역     9188 non-null   object
 19  거래일_일    9188 non-null   int64
 20  환불일_일    9188 non-null   int64
 21  골프매출     9188 non-null   int64
 22  라카매출     9188 non-null   int64
 23  헬스매출     9188 non-null   int64
 24  PT매출     9188 non-null   int64
 25  골프레슨매출   9188 non-null   int64
 26  일일입장매출   9188 non-null   int64
 27  양도비매출    9188 non-null   int64
 28  필라테스매출   9188 non-null   int64
 29  환불사용금매출  9188 non-null   int64
 30  의류매출     9188 non-null   int64
 31  분실매출     9188 non-null   int64
 32  GX매출     9188 non-null   int64
 33  상환액매출    9188 non-null   int64
 34  입회비매출    9188 non-null   int64
 35  예치금매출    9188 non-null   int64
dtypes: int64(28), object(8)
memory usage: 2.5+ MB

In [43]:
df12['환불내역'].fillna("",inplace=True)
df12['환불내역'].replace(0,"",inplace=True)
df12['패스'].fillna("",inplace=True)
df12['단체명'].fillna("",inplace=True)
df12['프로모션'].fillna("",inplace=True)
df12['등록명'].fillna("",inplace=True)
df12['FC 강사'].fillna("",inplace=True)
df12['단체명'].fillna("",inplace=True)
df12['프로모션'].fillna("",inplace=True)
df12['요일'].fillna("",inplace=True)
df12['연월'] = to_datetime(df12['연월'])

C:\Users\USER\AppData\Local\Temp\ipykernel_27900\1233397639.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12['환불내역'].fillna("",inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_27900\1233397639.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12['환불내역'].replace(0,"",inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_27900\1233397639.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12['패스'].fillna("",inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_27900\1233397639.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12['단체명'].fillna("",inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_27900\1233397639.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12['프로모션'].fillna("",inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_27900\1233397639.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12['등록명'].fillna("",inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_27900\1233397639.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12['FC 강사'].fillna("",inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_27900\1233397639.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12['단체명'].fillna("",inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_27900\1233397639.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12['프로모션'].fillna("",inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_27900\1233397639.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12['요일'].fillna("",inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_27900\1233397639.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12['연월'] = to_datetime(df12['연월'])

In [44]:
df3 = df2.filter(['회원카드번호','연월','등록명','미수액','일일입장','분실','부가서비스사용','레슨여부','매출액','개월수','골프전환','단체회원',
                  '골프매출','라카매출','헬스매출','PT매출','골프레슨매출','일일입장매출','양도비매출','필라테스매출','환불사용금매출','의류매출','분실매출','GX매출','상환액매출','입회비매출','예치금매출',
                  '트레이너','FC 성별','트레이너 성별'])

In [45]:
df13 = df12.filter(['회원카드번호','연월','요일','등록명','환불내역','미수액','일일입장','분실','부가서비스사용','레슨여부','매출액','개월수','골프전환','단체회원',
                  '골프매출','라카매출','헬스매출','PT매출','골프레슨매출','거래일_일','환불일_일','일일입장매출','양도비매출','필라테스매출','환불사용금매출','의류매출','분실매출','GX매출','상환액매출','입회비매출','예치금매출'])

In [46]:
트레이너 = ['알수없음', '전진용', '서하은', '홍석민', '황규선', '김광현', '홍훈기', '김영찬',
       '이상현', '백희정', '고형범', '임우혁', '김강', '문건주', '홍석남', '박근열', '금소현',
       '조병창', '오수정', '이수환', '이상준', '김강민', '강대현', '김소현']
for i in range(len(df3)):
    if df3.loc[i, '트레이너']  not in 트레이너:
        df3.loc[i, '트레이너'] = ""

In [47]:
df13.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9188 entries, 0 to 9187
Data columns (total 31 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   회원카드번호   9188 non-null   int64
 1   연월       9188 non-null   datetime64[ns]
 2   요일       9188 non-null   object
 3   등록명      9188 non-null   object
 4   환불내역     9188 non-null   object
 5   미수액      9188 non-null   int64
 6   일일입장     9188 non-null   int64
 7   분실       9188 non-null   int64
 8   부가서비스사용  9188 non-null   int64
 9   레슨여부     9188 non-null   int64
 10  매출액      9188 non-null   int64
 11  개월수      9188 non-null   int64
 12  골프전환     9188 non-null   int64
 13  단체회원     9188 non-null   int64
 14  골프매출     9188 non-null   int64
 15  라카매출     9188 non-null   int64
 16  헬스매출     9188 non-null   int64
 17  PT매출     9188 non-null   int64
 18  골프레슨매출   9188 non-null   int64
 19  거래일_일    9188 non-null   int64
 20  환불일_일    9188 non-null   int64
 21  일일입장매출   9188 non-null   int64
 22  양도비매출    9188 non-null   int64
 23  필라테스매출   9188 non-null   int64
 24  환불사용금매출  9188 non-null   int64
 25  의류매출     9188 non-null   int64
 26  분실매출     9188 non-null   int64
 27  GX매출     9188 non-null   int64
 28  상환액매출    9188 non-null   int64
 29  입회비매출    9188 non-null   int64
 30  예치금매출    9188 non-null   int64
dtypes: datetime64[ns](1), int64(27), object(3)
memory usage: 2.2+ MB

In [48]:
from collections import Counter
import pandas as pd

def mode_func(x):
    if len(x) > 0:
        # 문자열 요일을 숫자로 매핑
        day_mapping = {'월': 1, '화': 2, '수': 3, '목': 4, '금': 5, '토': 6, '일': 7}
        numeric_days = x.map(day_mapping)
        
        # 숫자로 매핑된 요일 중 가장 많이 등장하는 요일 찾기
        most_common_day_numeric = Counter(numeric_days).most_common(1)[0][0]
        
        # 매핑된 요일을 다시 문자열로 변환
        day_mapping_reverse = {v: k for k, v in day_mapping.items()}
        if not pd.isnull(most_common_day_numeric):
            most_common_day = day_mapping_reverse[most_common_day_numeric]
            return most_common_day
        else:
            return None  # 또는 다른 기본값으로 대체할 수도 있습니다.


df14 = df13.groupby(['회원카드번호', '연월', '등록명']).agg({
    '환불내역': 'sum',
    '요일': mode_func,  
    '미수액': 'sum',
    '거래일_일': 'max',
    '환불일_일': 'max',
    '일일입장': 'sum',
    '분실': 'sum',
    '부가서비스사용': 'sum',
    '레슨여부': 'sum',
    '매출액': 'sum',
    '개월수': 'sum',
    '골프전환': 'sum',
    '단체회원': 'max',
    '골프매출': 'sum',
    '라카매출': 'sum',
    '헬스매출': 'sum',
    'PT매출': 'sum',
    '골프레슨매출': 'sum',
    '일일입장매출': 'sum',
    '양도비매출': 'sum',
    '필라테스매출': 'sum',
    '환불사용금매출': 'sum',
    '의류매출': 'sum',
    '분실매출': 'sum',
    'GX매출': 'sum',
    '상환액매출': 'sum',
    '입회비매출': 'sum',
    '예치금매출': 'sum'
})
df14.reset_index(inplace=True)
df14

,회원카드번호,연월,등록명,환불내역,요일,미수액,거래일_일,환불일_일,일일입장,분실,부가서비스사용,레슨여부,매출액,개월수,골프전환,단체회원,골프매출,라카매출,헬스매출,PT매출,골프레슨매출,일일입장매출,양도비매출,필라테스매출,환불사용금매출,의류매출,분실매출,GX매출,상환액매출,입회비매출,예치금매출
0,12131325,2020-09-01,헬스,,화,0,8,0,0,0,0,0,899000,12,0,0,0,0,899000,0,0,0,0,0,0,0,0,0,0,0,0
1,13110008,2021-05-01,골프,,None,0,26,0,0,0,2,1,1900000,12,0,0,1580000,120000,0,0,200000,0,0,0,0,0,0,0,0,0,0
2,13110008,2022-06-01,골프,,None,0,29,0,0,0,3,0,1920000,12,0,0,1580000,120000,0,0,0,0,0,0,0,220000,0,0,0,0,0
3,13110008,2023-11-01,골프,,None,0,6,0,0,0,1,0,2120000,12,0,0,1880000,240000,0,0,0,0,0,0,0,0,0,0,0,0,0
4,13110009,2020-10-01,헬스,,None,0,30,0,0,0,2,0,1140000,12,0,0,0,60000,1080000,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,23120076,2023-12-01,헬스,,금,0,29,0,0,0,0,0,990000,10,0,0,0,0,990000,0,0,0,0,0,0,0,0,0,0,0,0
6493,23120077,2023-12-01,헬스,,금,0,29,0,0,0,0,0,990000,10,0,0,0,0,990000,0,0,0,0,0,0,0,0,0,0,0,0
6494,24010001,2023-12-01,헬스,,일,0,31,0,0,0,0,0,990000,10,0,0,0,0,990000,0,0,0,0,0,0,0,0,0,0,0,0
6495,24010003,2022-01-01,헬스,,None,0,31,0,0,0,1,0,1035000,10,0,0,0,45000,990000,0,0,0,0,0,0,0,0,0,0,0,0
6496,88017624,2023-02-01,골프,,목,0,16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [49]:
df4 = df3.groupby(['회원카드번호', '연월','등록명']).agg({'미수액': 'sum', 
                                         '일일입장': 'sum', 
                                         '분실': 'sum', 
                                         '부가서비스사용': 'sum', 
                                         '레슨여부': 'sum', 
                                         '매출액': 'sum',
                                         '개월수': 'sum', 
                                         '골프전환': 'sum', 
                                         '단체회원': 'max', 
                                         '골프매출': 'sum', 
                                         '라카매출': 'sum', 
                                         '헬스매출': 'sum', 
                                         'PT매출': 'sum', 
                                         '골프레슨매출': 'sum', 
                                         '일일입장매출': 'sum', 
                                         '양도비매출': 'sum', 
                                         '필라테스매출': 'sum',
                                         '환불사용금매출': 'sum', 
                                         '의류매출': 'sum', 
                                         '분실매출': 'sum', 
                                         'GX매출': 'sum', 
                                         '상환액매출': 'sum', 
                                         '입회비매출': 'sum', 
                                         '예치금매출': 'sum',
                                         'FC 성별':'max', 
                                         '트레이너':'max',
                                         '트레이너 성별':"max"})
df4.reset_index(inplace=True)
df5 = df4.filter(['회원카드번호','연월','FC 성별','트레이너','트레이너 성별'])

In [50]:
df14['연월'] = to_datetime(df14['연월'])
merged_df = merge(df14, df5, on=['회원카드번호', '연월'], how='left')

In [23]:

# df5= df2.groupby(['회원카드번호', '연월','등록명']).agg({
#                                          'FC 강사': 'max',  
#                                          '프로모션': 'sum', 
#                                          '단체명': 'max', 
#                                          '패스': 'sum',
#                                          '트레이너':'max'})
# df5.reset_index(drop=True, inplace=True)      # sum

In [51]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6497 entries, 0 to 6496
Data columns (total 34 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   회원카드번호   6497 non-null   int64
 1   연월       6497 non-null   datetime64[ns]
 2   등록명      6497 non-null   object
 3   환불내역     6497 non-null   object
 4   요일       1543 non-null   object
 5   미수액      6497 non-null   int64
 6   거래일_일    6497 non-null   int64
 7   환불일_일    6497 non-null   int64
 8   일일입장     6497 non-null   int64
 9   분실       6497 non-null   int64
 10  부가서비스사용  6497 non-null   int64
 11  레슨여부     6497 non-null   int64
 12  매출액      6497 non-null   int64
 13  개월수      6497 non-null   int64
 14  골프전환     6497 non-null   int64
 15  단체회원     6497 non-null   int64
 16  골프매출     6497 non-null   int64
 17  라카매출     6497 non-null   int64
 18  헬스매출     6497 non-null   int64
 19  PT매출     6497 non-null   int64
 20  골프레슨매출   6497 non-null   int64
 21  일일입장매출   6497 non-null   int64
 22  양도비매출    6497 non-null   int64
 23  필라테스매출   6497 non-null   int64
 24  환불사용금매출  6497 non-null   int64
 25  의류매출     6497 non-null   int64
 26  분실매출     6497 non-null   int64
 27  GX매출     6497 non-null   int64
 28  상환액매출    6497 non-null   int64
 29  입회비매출    6497 non-null   int64
 30  예치금매출    6497 non-null   int64
 31  FC 성별    6497 non-null   int64
 32  트레이너     6497 non-null   object
 33  트레이너 성별  749 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(28), object(4)
memory usage: 1.7+ MB

In [52]:
merged_df.to_excel("통합8-5.xlsx")

In [26]:
merged_df['GX매출'].unique()

array([     0, 480000,  60000, 470000,  30000, 440000, 888000,  50000,
       150000], dtype=int64)