# 연구과제

    https://data.hossam.kr/py/traffic_acc.csv 파일은 2005년도부터 2018년도까지의 교통사고 현황을 조사한 자료 입니다.
    이 파일을 자신의 작업폴더에 다운로드 받은 후 데이터베이스에 저장하세요.
    이를 위해 직접 DBMS안에 테이블을 생성해야 합니다.

### [1] 준비과정
(1) 테이블 정의         (sql developer에서 테이블 생성)
CREATE TABLE traffic_acc1 (
    id number not null,
    year number not null,
    month number not null,
    cases number not null,
    death number not null,
    injury number not null,
    primary key(id)
);

In [15]:
# CSV 데이터 가져오기
traffic_acc = None
with open("traffic_acc.csv", "r", encoding='utf-8') as f:
    traffic_acc = f.readlines()

print(traffic_acc)

['\ufeff년도,월,발생건수,사망자수,부상자수\n', '2005,1,15494,504,25413\n', '2005,2,13244,431,21635\n', '2005,3,16580,477,25550\n', '2005,4,17817,507,28131\n', '2005,5,19085,571,29808\n', '2005,6,18092,476,28594\n', '2005,7,18675,528,29984\n', '2005,8,19035,562,31603\n', '2005,9,18759,577,29831\n', '2005,10,19757,639,31597\n', '2005,11,19129,574,30337\n', '2005,12,18504,530,29750\n', '2006,1,14971,420,24533\n', '2006,2,14270,373,22903\n', '2006,3,16767,465,26013\n', '2006,4,17948,469,28725\n', '2006,5,19140,531,30279\n', '2006,6,17435,455,27032\n', '2006,7,18634,516,29978\n', '2006,8,18794,585,30882\n', '2006,9,19293,580,30186\n', '2006,10,19100,651,30715\n', '2006,11,19877,701,31270\n', '2006,12,17516,581,27713\n', '2007,1,14914,468,23975\n', '2007,2,14696,446,23717\n', '2007,3,18166,476,28811\n', '2007,4,18055,460,28555\n', '2007,5,19264,516,30532\n', '2007,6,18310,538,28662\n', '2007,7,18037,503,28676\n', '2007,8,17982,512,29711\n', '2007,9,18506,532,29583\n', '2007,10,19026,582,29802\n', '2007,11,17815,565,27674\n', '2007,12,16891,568,26208\n', '2008,1,14741,444,23522\n', '2008,2,14176,428,23282\n', '2008,3,16752,502,26284\n', '2008,4,17498,476,27364\n', '2008,5,19515,493,30935\n', '2008,6,18824,423,28872\n', '2008,7,19562,452,30553\n', '2008,8,18545,529,29705\n', '2008,9,18023,502,27894\n', '2008,10,19926,574,30882\n', '2008,11,19597,528,30585\n', '2008,12,18663,519,29084\n', '2009,1,16532,475,27373\n', '2009,2,15502,405,24429\n', '2009,3,18224,468,27967\n', '2009,4,19153,439,29521\n', '2009,5,20237,519,31743\n', '2009,6,19249,433,29084\n', '2009,7,20281,454,31545\n', '2009,8,19993,514,32200\n', '2009,9,21004,500,31700\n', '2009,10,21440,592,33255\n', '2009,11,20156,522,31062\n', '2009,12,20219,517,31996\n', '2010,1,17124,438,27655\n', '2010,2,15803,406,24968\n', '2010,3,17801,396,27350\n', '2010,4,18386,395,28191\n', '2010,5,20372,447,31521\n', '2010,6,18910,474,28311\n', '2010,7,18965,453,29577\n', '2010,8,19383,410,31032\n', '2010,9,19439,436,30470\n', '2010,10,21575,619,33282\n', '2010,11,20271,541,30907\n', '2010,12,18849,490,29194\n', '2011,1,16454,395,25611\n', '2011,2,14208,339,22493\n', '2011,3,16832,338,25371\n', '2011,4,18570,429,28534\n', '2011,5,19414,393,29906\n', '2011,6,18505,415,28469\n', '2011,7,19253,462,29576\n', '2011,8,18896,472,30034\n', '2011,9,19065,474,29055\n', '2011,10,20952,520,32133\n', '2011,11,20283,514,30917\n', '2011,12,19279,478,29292\n', '2012,1,16818,418,26281\n', '2012,2,16656,393,25998\n', '2012,3,18255,403,27899\n', '2012,4,19372,483,29628\n', '2012,5,19672,444,30163\n', '2012,6,18854,476,28314\n', '2012,7,19333,416,29642\n', '2012,8,18407,409,29051\n', '2012,9,19234,486,29462\n', '2012,10,19557,533,29759\n', '2012,11,19750,508,30054\n', '2012,12,17748,423,28314\n', '2013,1,16016,389,25094\n', '2013,2,14187,335,22255\n', '2013,3,17465,409,26461\n', '2013,4,18031,380,27795\n', '2013,5,19686,420,29676\n', '2013,6,18329,436,27673\n', '2013,7,18441,444,28387\n', '2013,8,18691,412,29190\n', '2013,9,17806,430,26938\n', '2013,10,19797,499,29507\n', '2013,11,19396,479,28986\n', '2013,12,17509,459,26749\n', '2014,1,15905,389,24328\n', '2014,2,14061,325,21501\n', '2014,3,18420,358,27714\n', '2014,4,18443,341,27323\n', '2014,5,20314,398,30684\n', '2014,6,18530,367,27740\n', '2014,7,19649,407,29596\n', '2014,8,19603,359,30633\n', '2014,9,19243,445,29052\n', '2014,10,20760,470,31199\n', '2014,11,19872,476,29525\n', '2014,12,18752,427,28202\n', '2015,1,16902,381,25887\n', '2015,2,14939,296,22999\n', '2015,3,18616,378,27921\n', '2015,4,19386,354,29431\n', '2015,5,20543,389,31264\n', '2015,6,18649,390,27469\n', '2015,7,20278,359,30409\n', '2015,8,19864,405,30618\n', '2015,9,20811,387,31256\n', '2015,10,21587,470,32436\n', '2015,11,21170,410,31773\n', '2015,12,19290,402,28937\n', '2016,1,17067,336,26323\n', '2016,2,15664,292,24021\n', '2016,3,17946,310,26609\n', '2016,4,19452,353,29216\n', '2016,5,19554,347,29172\n', '2016,6,17977,321,26668\n', '2016,7,18955,358,28586\n', '2016,8,18398,336,28017\n', '2016,9,17883,375,26761\n', '2016,10,19918,440,29635\n', '2016,11,19234,416,28520\n', '2016,12,18869,408,28192\n', '2017,1,16970,353,26099\n', '2017,2,14832,280,22323\n', '2017,3,17047,295,25046\n', '2017,4,17717,293,26530\n', '2017,5,18502,366,27268\n', '2017,6,18047,315,26454\n', '2017,7,18158,357,27362\n', '2017,8,18682,353,28162\n', '2017,9,19891,419,29371\n', '2017,10,18863,420,28698\n', '2017,11,19377,379,28472\n', '2017,12,18249,355,27044\n', '2018,1,17026,304,25438\n', '2018,2,16208,275,24630\n', '2018,3,17022,310,25015\n', '2018,4,17992,303,26643\n', '2018,5,18636,309,27834\n', '2018,6,18082,266,26574\n', '2018,7,18699,315,28104\n', '2018,8,18335,357,27749\n', '2018,9,18371,348,27751\n', '2018,10,19738,373,28836\n', '2018,11,19029,298,28000\n', '2018,12,18010,323,26463\n']

In [19]:
# 데이터 베이스 접속
import cx_Oracle as cx
dbcon = cx.connect("hr", "hr", "localhost:1521/xe")
cursor = dbcon.cursor()

In [26]:
# CSV에서 가져온 데이터 SQL로 저장하기
sql = "INSERT INTO traffic_acc1 (id, year, month, cases, death, injury) values (seq_traffic_acc.nextval, :1, :2, :3, :4, :5)"

for item in traffic_acc[1:]:
    line = item.strip().split(",")
    line = list(map(int,line))
    cursor.execute(sql,line)    
        

dbcon.commit()

In [29]:
# 결과확인
sql = "SELECT * FROM traffic_acc1"
cursor.execute(sql)
cursor.rowfactory = lambda *args: dict(zip([d[0] for d in cursor.description], args))
result = cursor.fetchall()
result

[{'ID': 1,
  'YEAR': 2005,
  'MONTH': 1,
  'CASES': 15494,
  'DEATH': 504,
  'INJURY': 25413},
 {'ID': 2,
  'YEAR': 2005,
  'MONTH': 2,
  'CASES': 13244,
  'DEATH': 431,
  'INJURY': 21635},
 {'ID': 3,
  'YEAR': 2005,
  'MONTH': 3,
  'CASES': 16580,
  'DEATH': 477,
  'INJURY': 25550},
 {'ID': 4,
  'YEAR': 2005,
  'MONTH': 4,
  'CASES': 17817,
  'DEATH': 507,
  'INJURY': 28131},
 {'ID': 5,
  'YEAR': 2005,
  'MONTH': 5,
  'CASES': 19085,
  'DEATH': 571,
  'INJURY': 29808},
 {'ID': 6,
  'YEAR': 2005,
  'MONTH': 6,
  'CASES': 18092,
  'DEATH': 476,
  'INJURY': 28594},
 {'ID': 7,
  'YEAR': 2005,
  'MONTH': 7,
  'CASES': 18675,
  'DEATH': 528,
  'INJURY': 29984},
 {'ID': 8,
  'YEAR': 2005,
  'MONTH': 8,
  'CASES': 19035,
  'DEATH': 562,
  'INJURY': 31603},
 {'ID': 9,
  'YEAR': 2005,
  'MONTH': 9,
  'CASES': 18759,
  'DEATH': 577,
  'INJURY': 29831},
 {'ID': 10,
  'YEAR': 2005,
  'MONTH': 10,
  'CASES': 19757,
  'DEATH': 639,
  'INJURY': 31597},
 {'ID': 11,
  'YEAR': 2005,
  'MONTH': 11,
  'CASES': 19129,
  'DEATH': 574,
  'INJURY': 30337},
 {'ID': 12,
  'YEAR': 2005,
  'MONTH': 12,
  'CASES': 18504,
  'DEATH': 530,
  'INJURY': 29750},
 {'ID': 13,
  'YEAR': 2006,
  'MONTH': 1,
  'CASES': 14971,
  'DEATH': 420,
  'INJURY': 24533},
 {'ID': 14,
  'YEAR': 2006,
  'MONTH': 2,
  'CASES': 14270,
  'DEATH': 373,
  'INJURY': 22903},
 {'ID': 15,
  'YEAR': 2006,
  'MONTH': 3,
  'CASES': 16767,
  'DEATH': 465,
  'INJURY': 26013},
 {'ID': 16,
  'YEAR': 2006,
  'MONTH': 4,
  'CASES': 17948,
  'DEATH': 469,
  'INJURY': 28725},
 {'ID': 17,
  'YEAR': 2006,
  'MONTH': 5,
  'CASES': 19140,
  'DEATH': 531,
  'INJURY': 30279},
 {'ID': 18,
  'YEAR': 2006,
  'MONTH': 6,
  'CASES': 17435,
  'DEATH': 455,
  'INJURY': 27032},
 {'ID': 19,
  'YEAR': 2006,
  'MONTH': 7,
  'CASES': 18634,
  'DEATH': 516,
  'INJURY': 29978},
 {'ID': 20,
  'YEAR': 2006,
  'MONTH': 8,
  'CASES': 18794,
  'DEATH': 585,
  'INJURY': 30882},
 {'ID': 21,
  'YEAR': 2006,
  'MONTH': 9,
  'CASES': 19293,
  'DEATH': 580,
  'INJURY': 30186},
 {'ID': 22,
  'YEAR': 2006,
  'MONTH': 10,
  'CASES': 19100,
  'DEATH': 651,
  'INJURY': 30715},
 {'ID': 23,
  'YEAR': 2006,
  'MONTH': 11,
  'CASES': 19877,
  'DEATH': 701,
  'INJURY': 31270},
 {'ID': 24,
  'YEAR': 2006,
  'MONTH': 12,
  'CASES': 17516,
  'DEATH': 581,
  'INJURY': 27713},
 {'ID': 25,
  'YEAR': 2007,
  'MONTH': 1,
  'CASES': 14914,
  'DEATH': 468,
  'INJURY': 23975},
 {'ID': 26,
  'YEAR': 2007,
  'MONTH': 2,
  'CASES': 14696,
  'DEATH': 446,
  'INJURY': 23717},
 {'ID': 27,
  'YEAR': 2007,
  'MONTH': 3,
  'CASES': 18166,
  'DEATH': 476,
  'INJURY': 28811},
 {'ID': 28,
  'YEAR': 2007,
  'MONTH': 4,
  'CASES': 18055,
  'DEATH': 460,
  'INJURY': 28555},
 {'ID': 29,
  'YEAR': 2007,
  'MONTH': 5,
  'CASES': 19264,
  'DEATH': 516,
  'INJURY': 30532},
 {'ID': 30,
  'YEAR': 2007,
  'MONTH': 6,
  'CASES': 18310,
  'DEATH': 538,
  'INJURY': 28662},
 {'ID': 31,
  'YEAR': 2007,
  'MONTH': 7,
  'CASES': 18037,
  'DEATH': 503,
  'INJURY': 28676},
 {'ID': 32,
  'YEAR': 2007,
  'MONTH': 8,
  'CASES': 17982,
  'DEATH': 512,
  'INJURY': 29711},
 {'ID': 33,
  'YEAR': 2007,
  'MONTH': 9,
  'CASES': 18506,
  'DEATH': 532,
  'INJURY': 29583},
 {'ID': 34,
  'YEAR': 2007,
  'MONTH': 10,
  'CASES': 19026,
  'DEATH': 582,
  'INJURY': 29802},
 {'ID': 35,
  'YEAR': 2007,
  'MONTH': 11,
  'CASES': 17815,
  'DEATH': 565,
  'INJURY': 27674},
 {'ID': 36,
  'YEAR': 2007,
  'MONTH': 12,
  'CASES': 16891,
  'DEATH': 568,
  'INJURY': 26208},
 {'ID': 37,
  'YEAR': 2008,
  'MONTH': 1,
  'CASES': 14741,
  'DEATH': 444,
  'INJURY': 23522},
 {'ID': 38,
  'YEAR': 2008,
  'MONTH': 2,
  'CASES': 14176,
  'DEATH': 428,
  'INJURY': 23282},
 {'ID': 39,
  'YEAR': 2008,
  'MONTH': 3,
  'CASES': 16752,
  'DEATH': 502,
  'INJURY': 26284},
 {'ID': 40,
  'YEAR': 2008,
  'MONTH': 4,
  'CASES': 17498,
  'DEATH': 476,
  'INJURY': 27364},
 {'ID': 41,
  'YEAR': 2008,
  'MONTH': 5,
  'CASES': 19515,
  'DEATH': 493,
  'INJURY': 30935},
 {'ID': 42,
  'YEAR': 2008,
  'MONTH': 6,
  'CASES': 18824,
  'DEATH': 423,
  'INJURY': 28872},
 {'ID': 43,
  'YEAR': 2008,
  'MONTH': 7,
  'CASES': 19562,
  'DEATH': 452,
  'INJURY': 30553},
 {'ID': 44,
  'YEAR': 2008,
  'MONTH': 8,
  'CASES': 18545,
  'DEATH': 529,
  'INJURY': 29705},
 {'ID': 45,
  'YEAR': 2008,
  'MONTH': 9,
  'CASES': 18023,
  'DEATH': 502,
  'INJURY': 27894},
 {'ID': 46,
  'YEAR': 2008,
  'MONTH': 10,
  'CASES': 19926,
  'DEATH': 574,
  'INJURY': 30882},
 {'ID': 47,
  'YEAR': 2008,
  'MONTH': 11,
  'CASES': 19597,
  'DEATH': 528,
  'INJURY': 30585},
 {'ID': 48,
  'YEAR': 2008,
  'MONTH': 12,
  'CASES': 18663,
  'DEATH': 519,
  'INJURY': 29084},
 {'ID': 49,
  'YEAR': 2009,
  'MONTH': 1,
  'CASES': 16532,
  'DEATH': 475,
  'INJURY': 27373},
 {'ID': 50,
  'YEAR': 2009,
  'MONTH': 2,
  'CASES': 15502,
  'DEATH': 405,
  'INJURY': 24429},
 {'ID': 51,
  'YEAR': 2009,
  'MONTH': 3,
  'CASES': 18224,
  'DEATH': 468,
  'INJURY': 27967},
 {'ID': 52,
  'YEAR': 2009,
  'MONTH': 4,
  'CASES': 19153,
  'DEATH': 439,
  'INJURY': 29521},
 {'ID': 53,
  'YEAR': 2009,
  'MONTH': 5,
  'CASES': 20237,
  'DEATH': 519,
  'INJURY': 31743},
 {'ID': 54,
  'YEAR': 2009,
  'MONTH': 6,
  'CASES': 19249,
  'DEATH': 433,
  'INJURY': 29084},
 {'ID': 55,
  'YEAR': 2009,
  'MONTH': 7,
  'CASES': 20281,
  'DEATH': 454,
  'INJURY': 31545},
 {'ID': 56,
  'YEAR': 2009,
  'MONTH': 8,
  'CASES': 19993,
  'DEATH': 514,
  'INJURY': 32200},
 {'ID': 57,
  'YEAR': 2009,
  'MONTH': 9,
  'CASES': 21004,
  'DEATH': 500,
  'INJURY': 31700},
 {'ID': 58,
  'YEAR': 2009,
  'MONTH': 10,
  'CASES': 21440,
  'DEATH': 592,
  'INJURY': 33255},
 {'ID': 59,
  'YEAR': 2009,
  'MONTH': 11,
  'CASES': 20156,
  'DEATH': 522,
  'INJURY': 31062},
 {'ID': 60,
  'YEAR': 2009,
  'MONTH': 12,
  'CASES': 20219,
  'DEATH': 517,
  'INJURY': 31996},
 {'ID': 61,
  'YEAR': 2010,
  'MONTH': 1,
  'CASES': 17124,
  'DEATH': 438,
  'INJURY': 27655},
 {'ID': 62,
  'YEAR': 2010,
  'MONTH': 2,
  'CASES': 15803,
  'DEATH': 406,
  'INJURY': 24968},
 {'ID': 63,
  'YEAR': 2010,
  'MONTH': 3,
  'CASES': 17801,
  'DEATH': 396,
  'INJURY': 27350},
 {'ID': 64,
  'YEAR': 2010,
  'MONTH': 4,
  'CASES': 18386,
  'DEATH': 395,
  'INJURY': 28191},
 {'ID': 65,
  'YEAR': 2010,
  'MONTH': 5,
  'CASES': 20372,
  'DEATH': 447,
  'INJURY': 31521},
 {'ID': 66,
  'YEAR': 2010,
  'MONTH': 6,
  'CASES': 18910,
  'DEATH': 474,
  'INJURY': 28311},
 {'ID': 67,
  'YEAR': 2010,
  'MONTH': 7,
  'CASES': 18965,
  'DEATH': 453,
  'INJURY': 29577},
 {'ID': 68,
  'YEAR': 2010,
  'MONTH': 8,
  'CASES': 19383,
  'DEATH': 410,
  'INJURY': 31032},
 {'ID': 69,
  'YEAR': 2010,
  'MONTH': 9,
  'CASES': 19439,
  'DEATH': 436,
  'INJURY': 30470},
 {'ID': 70,
  'YEAR': 2010,
  'MONTH': 10,
  'CASES': 21575,
  'DEATH': 619,
  'INJURY': 33282},
 {'ID': 71,
  'YEAR': 2010,
  'MONTH': 11,
  'CASES': 20271,
  'DEATH': 541,
  'INJURY': 30907},
 {'ID': 72,
  'YEAR': 2010,
  'MONTH': 12,
  'CASES': 18849,
  'DEATH': 490,
  'INJURY': 29194},
 {'ID': 73,
  'YEAR': 2011,
  'MONTH': 1,
  'CASES': 16454,
  'DEATH': 395,
  'INJURY': 25611},
 {'ID': 74,
  'YEAR': 2011,
  'MONTH': 2,
  'CASES': 14208,
  'DEATH': 339,
  'INJURY': 22493},
 {'ID': 75,
  'YEAR': 2011,
  'MONTH': 3,
  'CASES': 16832,
  'DEATH': 338,
  'INJURY': 25371},
 {'ID': 76,
  'YEAR': 2011,
  'MONTH': 4,
  'CASES': 18570,
  'DEATH': 429,
  'INJURY': 28534},
 {'ID': 77,
  'YEAR': 2011,
  'MONTH': 5,
  'CASES': 19414,
  'DEATH': 393,
  'INJURY': 29906},
 {'ID': 78,
  'YEAR': 2011,
  'MONTH': 6,
  'CASES': 18505,
  'DEATH': 415,
  'INJURY': 28469},
 {'ID': 79,
  'YEAR': 2011,
  'MONTH': 7,
  'CASES': 19253,
  'DEATH': 462,
  'INJURY': 29576},
 {'ID': 80,
  'YEAR': 2011,
  'MONTH': 8,
  'CASES': 18896,
  'DEATH': 472,
  'INJURY': 30034},
 {'ID': 81,
  'YEAR': 2011,
  'MONTH': 9,
  'CASES': 19065,
  'DEATH': 474,
  'INJURY': 29055},
 {'ID': 82,
  'YEAR': 2011,
  'MONTH': 10,
  'CASES': 20952,
  'DEATH': 520,
  'INJURY': 32133},
 {'ID': 83,
  'YEAR': 2011,
  'MONTH': 11,
  'CASES': 20283,
  'DEATH': 514,
  'INJURY': 30917},
 {'ID': 84,
  'YEAR': 2011,
  'MONTH': 12,
  'CASES': 19279,
  'DEATH': 478,
  'INJURY': 29292},
 {'ID': 85,
  'YEAR': 2012,
  'MONTH': 1,
  'CASES': 16818,
  'DEATH': 418,
  'INJURY': 26281},
 {'ID': 86,
  'YEAR': 2012,
  'MONTH': 2,
  'CASES': 16656,
  'DEATH': 393,
  'INJURY': 25998},
 {'ID': 87,
  'YEAR': 2012,
  'MONTH': 3,
  'CASES': 18255,
  'DEATH': 403,
  'INJURY': 27899},
 {'ID': 88,
  'YEAR': 2012,
  'MONTH': 4,
  'CASES': 19372,
  'DEATH': 483,
  'INJURY': 29628},
 {'ID': 89,
  'YEAR': 2012,
  'MONTH': 5,
  'CASES': 19672,
  'DEATH': 444,
  'INJURY': 30163},
 {'ID': 90,
  'YEAR': 2012,
  'MONTH': 6,
  'CASES': 18854,
  'DEATH': 476,
  'INJURY': 28314},
 {'ID': 91,
  'YEAR': 2012,
  'MONTH': 7,
  'CASES': 19333,
  'DEATH': 416,
  'INJURY': 29642},
 {'ID': 92,
  'YEAR': 2012,
  'MONTH': 8,
  'CASES': 18407,
  'DEATH': 409,
  'INJURY': 29051},
 {'ID': 93,
  'YEAR': 2012,
  'MONTH': 9,
  'CASES': 19234,
  'DEATH': 486,
  'INJURY': 29462},
 {'ID': 94,
  'YEAR': 2012,
  'MONTH': 10,
  'CASES': 19557,
  'DEATH': 533,
  'INJURY': 29759},
 {'ID': 95,
  'YEAR': 2012,
  'MONTH': 11,
  'CASES': 19750,
  'DEATH': 508,
  'INJURY': 30054},
 {'ID': 96,
  'YEAR': 2012,
  'MONTH': 12,
  'CASES': 17748,
  'DEATH': 423,
  'INJURY': 28314},
 {'ID': 97,
  'YEAR': 2013,
  'MONTH': 1,
  'CASES': 16016,
  'DEATH': 389,
  'INJURY': 25094},
 {'ID': 98,
  'YEAR': 2013,
  'MONTH': 2,
  'CASES': 14187,
  'DEATH': 335,
  'INJURY': 22255},
 {'ID': 99,
  'YEAR': 2013,
  'MONTH': 3,
  'CASES': 17465,
  'DEATH': 409,
  'INJURY': 26461},
 {'ID': 100,
  'YEAR': 2013,
  'MONTH': 4,
  'CASES': 18031,
  'DEATH': 380,
  'INJURY': 27795},
 {'ID': 101,
  'YEAR': 2013,
  'MONTH': 5,
  'CASES': 19686,
  'DEATH': 420,
  'INJURY': 29676},
 {'ID': 102,
  'YEAR': 2013,
  'MONTH': 6,
  'CASES': 18329,
  'DEATH': 436,
  'INJURY': 27673},
 {'ID': 103,
  'YEAR': 2013,
  'MONTH': 7,
  'CASES': 18441,
  'DEATH': 444,
  'INJURY': 28387},
 {'ID': 104,
  'YEAR': 2013,
  'MONTH': 8,
  'CASES': 18691,
  'DEATH': 412,
  'INJURY': 29190},
 {'ID': 105,
  'YEAR': 2013,
  'MONTH': 9,
  'CASES': 17806,
  'DEATH': 430,
  'INJURY': 26938},
 {'ID': 106,
  'YEAR': 2013,
  'MONTH': 10,
  'CASES': 19797,
  'DEATH': 499,
  'INJURY': 29507},
 {'ID': 107,
  'YEAR': 2013,
  'MONTH': 11,
  'CASES': 19396,
  'DEATH': 479,
  'INJURY': 28986},
 {'ID': 108,
  'YEAR': 2013,
  'MONTH': 12,
  'CASES': 17509,
  'DEATH': 459,
  'INJURY': 26749},
 {'ID': 109,
  'YEAR': 2014,
  'MONTH': 1,
  'CASES': 15905,
  'DEATH': 389,
  'INJURY': 24328},
 {'ID': 110,
  'YEAR': 2014,
  'MONTH': 2,
  'CASES': 14061,
  'DEATH': 325,
  'INJURY': 21501},
 {'ID': 111,
  'YEAR': 2014,
  'MONTH': 3,
  'CASES': 18420,
  'DEATH': 358,
  'INJURY': 27714},
 {'ID': 112,
  'YEAR': 2014,
  'MONTH': 4,
  'CASES': 18443,
  'DEATH': 341,
  'INJURY': 27323},
 {'ID': 113,
  'YEAR': 2014,
  'MONTH': 5,
  'CASES': 20314,
  'DEATH': 398,
  'INJURY': 30684},
 {'ID': 114,
  'YEAR': 2014,
  'MONTH': 6,
  'CASES': 18530,
  'DEATH': 367,
  'INJURY': 27740},
 {'ID': 115,
  'YEAR': 2014,
  'MONTH': 7,
  'CASES': 19649,
  'DEATH': 407,
  'INJURY': 29596},
 {'ID': 116,
  'YEAR': 2014,
  'MONTH': 8,
  'CASES': 19603,
  'DEATH': 359,
  'INJURY': 30633},
 {'ID': 117,
  'YEAR': 2014,
  'MONTH': 9,
  'CASES': 19243,
  'DEATH': 445,
  'INJURY': 29052},
 {'ID': 118,
  'YEAR': 2014,
  'MONTH': 10,
  'CASES': 20760,
  'DEATH': 470,
  'INJURY': 31199},
 {'ID': 119,
  'YEAR': 2014,
  'MONTH': 11,
  'CASES': 19872,
  'DEATH': 476,
  'INJURY': 29525},
 {'ID': 120,
  'YEAR': 2014,
  'MONTH': 12,
  'CASES': 18752,
  'DEATH': 427,
  'INJURY': 28202},
 {'ID': 121,
  'YEAR': 2015,
  'MONTH': 1,
  'CASES': 16902,
  'DEATH': 381,
  'INJURY': 25887},
 {'ID': 122,
  'YEAR': 2015,
  'MONTH': 2,
  'CASES': 14939,
  'DEATH': 296,
  'INJURY': 22999},
 {'ID': 123,
  'YEAR': 2015,
  'MONTH': 3,
  'CASES': 18616,
  'DEATH': 378,
  'INJURY': 27921},
 {'ID': 124,
  'YEAR': 2015,
  'MONTH': 4,
  'CASES': 19386,
  'DEATH': 354,
  'INJURY': 29431},
 {'ID': 125,
  'YEAR': 2015,
  'MONTH': 5,
  'CASES': 20543,
  'DEATH': 389,
  'INJURY': 31264},
 {'ID': 126,
  'YEAR': 2015,
  'MONTH': 6,
  'CASES': 18649,
  'DEATH': 390,
  'INJURY': 27469},
 {'ID': 127,
  'YEAR': 2015,
  'MONTH': 7,
  'CASES': 20278,
  'DEATH': 359,
  'INJURY': 30409},
 {'ID': 128,
  'YEAR': 2015,
  'MONTH': 8,
  'CASES': 19864,
  'DEATH': 405,
  'INJURY': 30618},
 {'ID': 129,
  'YEAR': 2015,
  'MONTH': 9,
  'CASES': 20811,
  'DEATH': 387,
  'INJURY': 31256},
 {'ID': 130,
  'YEAR': 2015,
  'MONTH': 10,
  'CASES': 21587,
  'DEATH': 470,
  'INJURY': 32436},
 {'ID': 131,
  'YEAR': 2015,
  'MONTH': 11,
  'CASES': 21170,
  'DEATH': 410,
  'INJURY': 31773},
 {'ID': 132,
  'YEAR': 2015,
  'MONTH': 12,
  'CASES': 19290,
  'DEATH': 402,
  'INJURY': 28937},
 {'ID': 133,
  'YEAR': 2016,
  'MONTH': 1,
  'CASES': 17067,
  'DEATH': 336,
  'INJURY': 26323},
 {'ID': 134,
  'YEAR': 2016,
  'MONTH': 2,
  'CASES': 15664,
  'DEATH': 292,
  'INJURY': 24021},
 {'ID': 135,
  'YEAR': 2016,
  'MONTH': 3,
  'CASES': 17946,
  'DEATH': 310,
  'INJURY': 26609},
 {'ID': 136,
  'YEAR': 2016,
  'MONTH': 4,
  'CASES': 19452,
  'DEATH': 353,
  'INJURY': 29216},
 {'ID': 137,
  'YEAR': 2016,
  'MONTH': 5,
  'CASES': 19554,
  'DEATH': 347,
  'INJURY': 29172},
 {'ID': 138,
  'YEAR': 2016,
  'MONTH': 6,
  'CASES': 17977,
  'DEATH': 321,
  'INJURY': 26668},
 {'ID': 139,
  'YEAR': 2016,
  'MONTH': 7,
  'CASES': 18955,
  'DEATH': 358,
  'INJURY': 28586},
 {'ID': 140,
  'YEAR': 2016,
  'MONTH': 8,
  'CASES': 18398,
  'DEATH': 336,
  'INJURY': 28017},
 {'ID': 141,
  'YEAR': 2016,
  'MONTH': 9,
  'CASES': 17883,
  'DEATH': 375,
  'INJURY': 26761},
 {'ID': 142,
  'YEAR': 2016,
  'MONTH': 10,
  'CASES': 19918,
  'DEATH': 440,
  'INJURY': 29635},
 {'ID': 143,
  'YEAR': 2016,
  'MONTH': 11,
  'CASES': 19234,
  'DEATH': 416,
  'INJURY': 28520},
 {'ID': 144,
  'YEAR': 2016,
  'MONTH': 12,
  'CASES': 18869,
  'DEATH': 408,
  'INJURY': 28192},
 {'ID': 145,
  'YEAR': 2017,
  'MONTH': 1,
  'CASES': 16970,
  'DEATH': 353,
  'INJURY': 26099},
 {'ID': 146,
  'YEAR': 2017,
  'MONTH': 2,
  'CASES': 14832,
  'DEATH': 280,
  'INJURY': 22323},
 {'ID': 147,
  'YEAR': 2017,
  'MONTH': 3,
  'CASES': 17047,
  'DEATH': 295,
  'INJURY': 25046},
 {'ID': 148,
  'YEAR': 2017,
  'MONTH': 4,
  'CASES': 17717,
  'DEATH': 293,
  'INJURY': 26530},
 {'ID': 149,
  'YEAR': 2017,
  'MONTH': 5,
  'CASES': 18502,
  'DEATH': 366,
  'INJURY': 27268},
 {'ID': 150,
  'YEAR': 2017,
  'MONTH': 6,
  'CASES': 18047,
  'DEATH': 315,
  'INJURY': 26454},
 {'ID': 151,
  'YEAR': 2017,
  'MONTH': 7,
  'CASES': 18158,
  'DEATH': 357,
  'INJURY': 27362},
 {'ID': 152,
  'YEAR': 2017,
  'MONTH': 8,
  'CASES': 18682,
  'DEATH': 353,
  'INJURY': 28162},
 {'ID': 153,
  'YEAR': 2017,
  'MONTH': 9,
  'CASES': 19891,
  'DEATH': 419,
  'INJURY': 29371},
 {'ID': 154,
  'YEAR': 2017,
  'MONTH': 10,
  'CASES': 18863,
  'DEATH': 420,
  'INJURY': 28698},
 {'ID': 155,
  'YEAR': 2017,
  'MONTH': 11,
  'CASES': 19377,
  'DEATH': 379,
  'INJURY': 28472},
 {'ID': 156,
  'YEAR': 2017,
  'MONTH': 12,
  'CASES': 18249,
  'DEATH': 355,
  'INJURY': 27044},
 {'ID': 157,
  'YEAR': 2018,
  'MONTH': 1,
  'CASES': 17026,
  'DEATH': 304,
  'INJURY': 25438},
 {'ID': 158,
  'YEAR': 2018,
  'MONTH': 2,
  'CASES': 16208,
  'DEATH': 275,
  'INJURY': 24630},
 {'ID': 159,
  'YEAR': 2018,
  'MONTH': 3,
  'CASES': 17022,
  'DEATH': 310,
  'INJURY': 25015},
 {'ID': 160,
  'YEAR': 2018,
  'MONTH': 4,
  'CASES': 17992,
  'DEATH': 303,
  'INJURY': 26643},
 {'ID': 161,
  'YEAR': 2018,
  'MONTH': 5,
  'CASES': 18636,
  'DEATH': 309,
  'INJURY': 27834},
 {'ID': 162,
  'YEAR': 2018,
  'MONTH': 6,
  'CASES': 18082,
  'DEATH': 266,
  'INJURY': 26574},
 {'ID': 163,
  'YEAR': 2018,
  'MONTH': 7,
  'CASES': 18699,
  'DEATH': 315,
  'INJURY': 28104},
 {'ID': 164,
  'YEAR': 2018,
  'MONTH': 8,
  'CASES': 18335,
  'DEATH': 357,
  'INJURY': 27749},
 {'ID': 165,
  'YEAR': 2018,
  'MONTH': 9,
  'CASES': 18371,
  'DEATH': 348,
  'INJURY': 27751},
 {'ID': 166,
  'YEAR': 2018,
  'MONTH': 10,
  'CASES': 19738,
  'DEATH': 373,
  'INJURY': 28836},
 {'ID': 167,
  'YEAR': 2018,
  'MONTH': 11,
  'CASES': 19029,
  'DEATH': 298,
  'INJURY': 28000},
 {'ID': 168,
  'YEAR': 2018,
  'MONTH': 12,
  'CASES': 18010,
  'DEATH': 323,
  'INJURY': 26463}]